#menu {
    z-index: 99;
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    display: flex;
    align-content: center;
}

@keyframes bounce {}

#cld1 {
    background-image: url(/image/menu/frame.png);
}

#cld2 {
    background-image: url(/image/menu/frame.png);
}

#cld3 {
    background-image: url(/image/menu/frame.png);
}

#cld4 {
    background-image: url(/image/menu/frame.png);
}

#cld5 {
    background-image: url(/image/menu/frame.png);
}

#cld6 {
    background-image: url(/image/menu/frame.png);
}

#cld7 {
    background-image: url(/image/menu/frame.png);
}

#cld8 {
    background-image: url(/image/menu/frame.png);
}

#cld9 {
    background-image: url(/image/menu/frame.png);
}

#cld10 {
    background-image: url(/image/menu/frame.png);
}

#cld11 {
    background-image: url(/image/menu/frame.png);
}

#menu a {
    margin-top: -1.4vh;
}