 * {
     box-sizing: border-box;
    }
    /* Set a background color */
    body {
      background-image: linear-gradient(to top right, #eb8242, #9d0b0b);
      font-family: Georgia, serif;
    }
    /*canvas animation*/
    #bubble {
      width: 200%;
      height: 200%;
      opacity: 0.9;
      position: fixed;
      display: none;
      z-index: 1;
      background: rgba(0, 0, 0, .9);
      margin-left: -50%;
      margin-top: -2%;
    }
    /* horizontal line */
    hr {
      width: 70%;
      float: center; 
      height: 5px;
      background-image: linear-gradient(right, #eb8242, #9d0b0b);
      position: relative;
      top: -150px;
      left: 33px;
    }

     /* smooth-scrolling*/
    html {
      scroll-behavior: smooth;
      overflow-x: hidden; overflow-y: auto;
    }


    /* The actual timeline */
    .time {
      position: relative;
      max-width: 1200px;
      margin: 0 auto;
      top: -80px;
    }


    /* Title */
    @import url(https://fonts.googleapis.com/css?family=Montserrat);

    svg {
        display: block;
        font: 10.5em 'Montserrat';
        /*width: 860px;*/
        width: 100%;
        height: 300px;
        margin:  0 auto;
        float: center;
    }
    
    .text-copy {
        fill: none;
        stroke: white;
        stroke-dasharray: 6% 29%;
        stroke-width: 5px;
        stroke-dashoffset: 0%;
        animation: stroke-offset 5.5s infinite linear;
    }
    
    .text-copy:nth-child(1){
      stroke: #ffffff;
      animation-delay: -1;
    }
    
    .text-copy:nth-child(2){
      stroke: #FDB731;
      animation-delay: -2s;
    }
    
    .text-copy:nth-child(3){
      stroke:  #FDB731;
      animation-delay: -3s;
    }
    
    .text-copy:nth-child(4){
      stroke:  #ffffff;
      animation-delay: -4s;
    }
    
    .text-copy:nth-child(5){
      stroke: #FDB731;
      animation-delay: -5s;
    }
    
    @keyframes stroke-offset{
      100% {stroke-dashoffset: -35%;}
    }
    
    /*A royal Indian Carnival*/
    
    #royal {
      position: relative;
      right:-35%;
      top: -180px;
      font-family: Brush Script MT, Brush Script Std, cursive;
      text-transform: uppercase;
      font-size: 2em;
      letter-spacing: 4px;
      overflow: hidden;
      background: linear-gradient(90deg,  #ffff99, #fff,  #ffff99);
      background-repeat: no-repeat;
      background-size: 1000%;
      animation: animate 7.5s ;
      animation-iteration-count: 1;
      animation-delay: -5s;
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }
    
    @keyframes animate {
      0% {
        background-position: -500%;
      }
      500% {
        background-position: 500%;
      }
    }
    
    /* The actual timeline (the vertical ruler) */
    .time::after {
      content: '';
      position: absolute;
      width: 6px;
      background-color: #9d0b0b;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -3px;
      z-index: -1;
    }

    /* Container around content */
    .container {
      padding: 10px 50px;
      position: relative;
      background-color: inherit;
      width: 50%;
    }

    /*Title of event*/
    .title {
      background:-webkit-linear-gradient(right, black, #9d0b0b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    /*Button in each container*/
    .button {
        background-color: #9d0b0b;
        box-shadow: 5px 5px 5px #eb8242;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 40%;
        transition: width 0.2s;
        -webkit-transition: width 0.2s;
        float: right;
        z-index: 0;
    }
    .button:hover {
        width: 50%;
    }

    /*Modal box*/
   /* .modal {
      display: none; 
      flex-wrap: wrap;
      position: fixed; 
      z-index: 2;
      left:25%;
      top: 0;
      width: 50%; 
      height: 50vh; 
      animation: fadeIn ease 10s;
      -webkit-animation: fadeIn ease 2s;
      -moz-animation: fadeIn ease 2s;
      -o-animation: fadeIn ease 2s;
      -ms-animation: fadeIn ease 2s;
      
    }*/
    /*.modal {
      display: none; 
      flex-wrap: wrap;
      position: fixed; 
      z-index: 2;
      left:0;
      top: 0;
      width: 100%;
      height: 100%; 
      overflow: auto; 
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.4);
      animation: fadeIn ease 10s;
      -webkit-animation: fadeIn ease 2s;
      -moz-animation: fadeIn ease 2s;
      -o-animation: fadeIn ease 2s;
      -ms-animation: fadeIn ease 2s;
      
    }*/

    .modalLeft{
      position: fixed; 
      top: 5vh;
      left: 15.7vw;
      z-index: 2;
      background: url('/image/banner5.png') no-repeat;
      background-size: contain;
      
      background-position: top center;
      width: 71vw;
      height: 97vh;
      display: none;
    }
    .modalRight{
      position: fixed; 
      top: 5vh;
      left: 15.7vw;
      z-index: 2;
      background: url('/image/banner5.png') no-repeat;
      background-size: contain;
      background-position: top center;
      width: 71vw;
      height: 97vh;
      display: none;
    }
    .modal-content {
      position: fixed;
      top: 20vh;
      left: 33vw;
      width: 33vw;
      height: 63vh;
      overflow-y: scroll;
      color: white;
    }

      /*responsive modal */
    .modalLeft> * {
      flex: 1 1 250px;
    }
    .modalRight> * {
      flex: 1 1 250px;
    }


    /* Incand logo*/
    #logo {
      float: left;
      border-radius: 15px;
      height: 70px;
      width: 170px;
      padding: 5px;
      position: relative;
    }

    #logo:hover {
      height: 80px;
      width: 200px;
    }

    /*Image in Modal*/
    img {
      height: 150px;
      width: 130px;
      float: left;
      padding-right: 10px;
      display: inline-block;
      vertical-align: middle;
    }

    img:hover {
      height: 150px;
      width: 150px;
      transition: 0.3s ease-out;
    }

    /*Content in modal*/
   /* .modal-content {
      background-image: linear-gradient(#eb8242, #f6da63);
      margin: 15% auto;
      padding: 10px;
      height: 100%;
      width: 100%; 
      border-radius: 10px;
      overflow-y: auto;
    }*/
    
    /* The Close Button */
    /*.close {
      color: #9d0b0b;
      float: right;
      font-size: 50px;
      font-weight: bold;
      position: relative;
      top: -15px;
    }*/

     /* copy this */
    /* .modal-content {
      background: url("scroll.png") no-repeat ;
      margin: 0 auto 15% 25%;
      padding:0;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      opacity: 1;
      overflow-y: auto;
    }*/
    /* copy this */
    .text{
      font-family: 'Lobster', cursive;
      font-size: 20px;
      z-index: 5;
      padding: 2vh 2vw 27vh 5vw;
      /*padding-top: 10%;
      padding-right: 41%;
      padding-left: 17%;*/
     /* padding-top: 7%;
      padding-right: 58%;
      padding-left: 13%;*/
      position: relative;
    }
    
    /* The Close Button */
    /* copy this */
    .close {
      color: #EBD62C;
      float: right;
      font-size: 50px;
      font-weight: bold;
      position: fixed;
      top: 15vh;
      left: 85vw;
    }
  
    .close:hover,
    .close:focus {
      color: rgb(240, 16, 16);
      text-decoration: none;
      cursor: pointer;
    }

    /*Animation for opening modal*/
    @keyframes fadeIn {
      0% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
    }
    
    @-moz-keyframes fadeIn {
      0% {
        opacity:0;
      }
      100% {
        opacity:1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
  }

  /* The circles on the timeline */
  .container::after {
    font-family: 'FontAwesome';
    content: "\f005";
    white-space: pre;
    margin-left: -16px;
    font-weight: normal;
    font-style: normal;
    color: #f6da63;
    text-shadow: 3px 3px 3px #9d0b0b;
    font-size: 70px;
    text-decoration: inherit;
    position: absolute;
    width: 50px;
    height: 50px;
    right: -18px;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  /* Place the container to the left */
  .left {
    left: 0;
  }

  /* Place the container to the right */
  .right {
    left: 50%;
  }

  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 40px;
    border: medium solid #f6da63;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #f6da63;
  }

  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 40px;
    border: medium solid #f6da63;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f6da63 transparent transparent;
}

  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }

  /* The actual content */
  .content {
    padding:55px 30px;
    /*background-color: #f6da63;*/
    /*background-image: linear-gradient(to top right, #da2d2d, #f6da63);*/
    box-shadow: 5px 5px 5px #6b060b;
    position: relative;
    border-radius: 6px;
  }

  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .time::after {
      left: 31px;
    }

  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }

  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid #f6da63;
      border-width: 10px 10px 10px 0;
      border-color: transparent #f6da63 transparent transparent;
    }

  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 14px;
    }

  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }

    .modalLeft{
      position: fixed;
      background-attachment: fixed;
      left: 22vw;
      top: 2vh;
      background: url('/image/banner2.png') no-repeat;
      background-size: contain;
      height: 94vh;
      width: 99vw;
      display: none;
    }  
     .modalRight{
      position: fixed;
      background-attachment: fixed;
      left: 22vw;
      top: 2vh;
      background: url('/image/banner2.png') no-repeat;
      background-size: contain;
      height: 94vh;
      width: 99vw;
      display: none;
    }    
    .modalicon {
      height: 90px;
      width: 90px;
    }

    .modal-content {
      position: fixed;
      top: 15vh;
      left: 28vw;
      width: 34vw;
      height: 70vh;
      overflow-y: scroll;
    }
    .text{
      font-family: 'Lobster', cursive;
      font-size: 15px;
      z-index: 5;
      padding: 2vh 2vw 27vh 5vw;
      position: relative;
    }
    
    

  /*footer section */
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: red;
    color: black;
    text-align: center;
  }
}
/*responsive for all heights and full screen widths*/
@media screen and (max-height:390px){
	.modal-content{
		width:22vw;
		left: 38vw;
	}
}
@media screen and (min-height:391px) and (max-height:479px){
	.modal-content{
		width:25vw;
		left: 36vw;
	}
}
@media screen and (min-height:480px) and (max-height:520px){
	.modal-content{
		width:27vw;
		left: 36vw;
	}
}

/*responsive for diff heights and diff screen widths*/
@media screen and (max-height:585px) and (max-width: 599px){
	.modal-content{
		width:25vw;
		left: 28vw;
		height: 60vh;
	}
}
@media screen and  (max-width: 520px) and (max-height:490px){
	.modal-content{
		width:25vw;
		overflow-x: hidden;
	}
}
@media screen and (max-width: 444px) and (max-height:490px){
	.modal-content{
		width:20vw;

	}
}
/*responsive for all widths and full screen heigths*/
@media (min-width:600px ) and (max-width: 700px){
	.modal-content{
		height: 50vh;
	}
}

@media screen and (max-width: 569px){
	.modal-content{
		left: 30vw
	}

}
@media screen and (max-width: 506px){
	.modal-content{
		left: 35vw;
	}

}
@media screen and (max-width: 444px){
	.modal-content{
		width: 43vw;
		left: 32vw;
	}
	.close {
		top: 0vh;
	}

}
@media screen and (max-width: 400px){
   .modalLeft{
   	left:11vw;

   }
   .modalRight{
   	left:11vw;

   }
   .modal-content{
   	left:28vw;
   	width:45vw;
   	overflow-x: hidden;
   }
}
@media screen and (max-width: 350px){
	.modal-content{
		width:53vw;
	}

}
@media screen and (max-width: 315px){
	.modal-content{
		width:50vw;
		left: 35vw;
	}

}
@media screen and (max-width: 290px){
	.modal-content{
		width:55vw;
		height: 48vh;
		
	}

}