#menu{
    z-index: 3;
    position:absolute;
    top: 5vh;
    left: 0vw;
}

#cld1c{
   -webkit-animation: bounce both infinite 0s;
   animation: bounce both infinite 0s;
}

#cld2c{
   -webkit-animation: both infinite 4s 0.2s;
   animation: bounce both infinite 4s 0.2s;
}

#cld3c{
   -webkit-animation: both infinite 4s 0.4s;
   animation: bounce both infinite 4s 0.4s;
}

#cld4c{
   -webkit-animation: both infinite 4s 0.6s;
   animation: bounce both infinite 4s 0.6s;
}

#cld5c{
   -webkit-animation: both infinite 4s 0.8s;
   animation: bounce both infinite 4s 0.8s;
}

#cld6c{
   -webkit-animation: both infinite 4s 1s;
   animation: bounce both infinite 4s 1s;
}

#cld7c{
   -webkit-animation: both infinite 4s 1s;
   animation: bounce both infinite 4s 1s;
}


#cld1{
    background-image: url(/image/cld.png);
    height: 7vh;
    width: 8vw;
    background-size: 100% 100%;
    z-index: 5;
    position:absolute;
    left:10vw;
    top: 7vh;
    visibility: hidden;
}

@keyframes cld1m{
    from{top:7vh; left: 10vw; height: 7vh; width: 8vw; visibility: hidden;}
    to{top:5vh; left: 20vw; height: 15vh; width: 23vw; visibility: visible;}
 }

@keyframes cld1i{
    from{top:5vh; left: 20vw; height: 15vh; width: 23vw; visibility: visible;}
    to{top:7vh; left: 10vw; height: 7vh; width: 8vw; visibility: hidden;}
 }

 #cld2{
    background-image: url(/image/cld2.png);
    height: 8vh;
    width: 6vw;
    background-size: 100% 100%;
    z-index: 5;
    position:absolute;
    left:28vw;
    top: 8vh;
    visibility: hidden;
}

@keyframes cld2m{
    from{top:8vh; left: 28vw; height: 8vh; width: 6vw; visibility: hidden;}
    to{top:35vh; left: 10vw; height: 15vh; width: 23vw; visibility: visible;}
 }

@keyframes cld2i{
    from{top:35vh; left: 10vw; height: 15vh; width: 23vw; visibility: visible;}
    to{top:8vh; left: 28vw; height: 8vh; width: 6vw; visibility: hidden;}
 }

 #cld3{
    background-image: url(/image/cld.png);
    height: 6vh;
    width: 9vw;
    background-size: 100% 100%;
    z-index: 5;
    position:absolute;
    left:42vw;
    top: 5vh;
    visibility: hidden;
    }
@keyframes cld3m{
    from{top:5vh; left: 42vw; height: 6vh; width: 9vw; visibility: hidden;}
    to{top:65vh; left: 20vw; height: 15vh; width: 23vw; visibility: visible;}
    }

@keyframes cld3i{
    from{top:65vh; left: 20vw; height: 15vh; width: 23vw; visibility: visible;}
    to{top:5vh; left: 42vw; height: 6vh; width: 9vw; visibility: hidden;}
    }
    

 #cld4{
    background-image: url(/image/cld2.png);
    height: 6.5vh;
    width: 8vw;
    background-size: 100% 100%;
    z-index: 5;
    position:absolute;
    left:55vw;
    top: 6vh;
    visibility: hidden;
    }

@keyframes cld4m{
    from{top:6vh; left: 55vw; height: 6.5vh; width: 8vw; visibility: hidden;}
    to{top:5vh; left: 55vw; height: 15vh; width: 23vw; visibility: visible;}
    }

@keyframes cld4i{
    from{top:5vh; left: 55vw; height: 15vh; width: 23vw; visibility: visible;}
    to{top:6vh; left: 55vw; height: 6.5vh; width: 8vw; visibility: hidden;}
    }

 #cld5{
    background-image: url(/image/cld.png);
    height: 7vh;
    width: 10vw;
    background-size: 100% 100%;
    z-index: 5;
    position:absolute;
    left:68vw;
    top: 10vh;
    visibility: hidden;
    }

@keyframes cld5m{
    from{top:10vh; left: 68vw; height: 7vh; width: 10vw; visibility: hidden;}
    to{top:35vh; left: 65vw; height: 15vh; width: 23vw; visibility: visible;}
    }

@keyframes cld5i{
    from{top:35vh; left: 65vw; height: 15vh; width: 23vw; visibility: visible;}
    to{top:10vh; left: 68vw; height: 7vh; width: 10vw; visibility: hidden;}
    }

 #cld6{
    background-image: url(/image/cld2.png);
    height: 6vh;
    width: 9vw;
    background-size: 100% 100%;
    z-index: 5;
    position:absolute;
    left:82vw;
   top: 7vh;
   visibility: hidden;
 }
 @keyframes cld6m{
    from{top:7vh; left: 82vw; height: 6vh; width: 9vw; visibility: hidden;}
    to{top:65vh; left: 55vw; height: 15vh; width: 23vw; visibility: visible;}
    }

@keyframes cld6i{
    from{top:65vh; left: 55vw; height: 15vh; width: 23vw; visibility: visible;}
    to{top:7vh; left: 82vw; height: 6vh; width: 9vw; visibility: hidden;}
    }


#cld7{
    background-image: url(/image/cld2.png);
   height: 10vh;
   width: 20vw;
   z-index: 5;
   background-size: 100% 100%;
   visibility: hidden;
   position:absolute;
   left:40vw;
  top: 7vh;
}


#cld8{
    background-image: url(/image/cld2.png);
   height: 5vh;
   width: 10vw;
   z-index: 5;
   background-size: 100% 100%;
   visibility: visible;
   position:absolute;
   left:5vw;
  top: 5vh;
}


#cld9{
    z-index: 5;
    background-image: url(/image/cld2.png);
   height: 5vh;
   width: 10vw;
   background-size: 100% 100%;
   visibility: visible;
   position:absolute;
   left:85vw;
  top: 5vh;
}

@keyframes cld{
   from{transform: translateX(0px); opacity:0; visibility: hidden;}
   to{transform: translateX(0px); opacity:1; visibility: visible;}
}

@keyframes cldf{
    from{transform: translateX(0px); opacity:1; visibility: visible;}
    to{transform: translateX(0px); opacity:0; visibility: hidden;}
 }

#menu a{ 
   position: absolute;
   top: 50%;
   left:50%;
   transform: translateX(-50%) translateY(-50%);
   text-decoration: none;
   font-size: 1vw;
   color: black;
   font-family: 'Carter One', cursive;      
}

#menu p{ 
   position: absolute;
   top: 30%;
   left:50%;
   transform: translateX(-50%) translateY(-50%);
   font-size: 3vh;
   color: black;
   font-family: 'Carter One', cursive;      
}

