
html,body{
	overflow-x: hidden;
}

.car{
	background-image: url('/image/bus.png');
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotateY(180deg);
	height: 300px;
	width: 400px;
	position: absolute;
	top: 1200px;
	left: 600px;
	animation: car 2s both;
}
#carj{
	background-image: url('/image/bus.png');
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotateY(180deg);
	height: 300px;
	width: 400px;
	position: absolute;
	top: 1200px;
	left: 600px;
	transform: translateX(350px) rotateY(180deg) translateY(-70px) scale(0.8);
}
.carj{
	background-image: url('/image/bus.png');
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotateY(180deg);
	height: 300px;
	width: 400px;
	position: absolute;
	top: 1200px;
	left: 600px;
	animation: carr 2s both;
}

.sign1{
	box-sizing: border-box;
	background-image: url('/image/sign1.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 300px;
	width: 300px;
	position: absolute;
	top: 40%;
	left: 78%;
	color: solid black;
	font-size: 24px;
	font-family: 'Paytone One', sans-serif;
	text-align: center;
	padding-top: 50px;
	padding-right: 50px;
	font-weight: 600;
	animation: sign 1s both;
}

.sign1r{
	box-sizing: border-box;
	background-image: url('/image/sign1.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 300px;
	width: 300px;
	position: absolute;
	top: 40%;
	left: 78%;
	color: solid black;
	font-size: 22px;
	font-family: 'Paytone One', sans-serif;
	text-align: center;
	padding-top: 50px;
	animation: signr 1s both ;
}

#plane{
	box-sizing: border-box;
	background-image: url('/image/plane.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	position: absolute;
	top: 300px;
	animation: plane 2s both;
}

#sign2{
	box-sizing: border-box;
	background-image: url('/image/signl.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 170px;
	width: 150px;
	position: absolute;
	top: 14%;
	left: 15%;
	color: solid black;
	font-size: 14px;
	font-weight: 900;
	font-family: 'Paytone One', sans-serif;
	text-align: center;
	padding-top: 20px;
	padding-right: 10px;
}
#sign22{
	box-sizing: border-box;
	background-image: url('/image/sign.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
	width: 230px;
	position: absolute;
	top: 14%;
	left: 25%;
	color: solid black;
	font-size: 14px;
	font-weight: 900;
	font-family: 'Paytone One', sans-serif;
	text-align: center;
	padding-top: 50px;
	padding-right: 15px;
	
}

#sign3{
	box-sizing: border-box;
	background-image: url('/image/sgn.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
	width: 230px;
	position: absolute;
	top: 25%;
	right: 40%;
	color: solid black;
	font-size: 22px;
	font-weight: 600;
	font-family: 'Paytone One', sans-serif;
	text-align: center;
	padding-top: 40px;
}

#station{
	box-sizing: border-box;
	background-image: url('/image/station.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	position: absolute;
	top: 25%;
	right: 25%;
}

#trainj{
	box-sizing: border-box;
	background-image: url('/image/train.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	position: absolute;
	top: 29%;
	right: 25%;	
	transform: translateX(600px);
}

.trainj{
	box-sizing: border-box;
	background-image: url('/image/train.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	position: absolute;
	top: 24%;
	right: 25%;	
	transform: translateX(0px);
}

.train{
	box-sizing: border-box;
	background-image: url('/image/train.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	position: absolute;
	top: 24%;
	right: 25%;	
	animation: train both linear 3s;
}


@keyframes plane{
	from{transform: translateX(0px) translateY(100px);}
	to{transform: translateX(200px) translateY(0px);}
}

@keyframes car{
	from{transform: translateX(350px) rotateY(180deg) translateY(-70px) scale(0.8);}
	to{transform: translateX(0) rotateY(180deg) translateY(0) scale(1);}
}
@keyframes carr{
	from{transform: translateX(0) rotateY(180deg) translateY(0) scale(1);}
	to{transform: translateX(350px) rotateY(180deg) translateY(-70px) scale(0.8);}
}

@keyframes sign{
	from{transform: translateY(200px);}
	to{transform: translateY(0);}
}

@keyframes signr{
	from{transform: translateY(0);}
	to{transform: translateY(200px);}
}
@keyframes train{
	from{transform: translateX(600px);}
	to{transform: translateX(0);}
}

@media (max-width: 411px){

	html,body{
		overflow-x: hidden;
	}

	#station{
	box-sizing: border-box;
	background-image: url('/image/station.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	position: absolute;
	top: 25%;
	left: 30%;
}

#sign3{
	box-sizing: border-box;
	background-image: url('/image/sgn.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
	width: 230px;
	position: absolute;
	top: 25%;
	right: 40%;
	color: solid black;
	font-size: 22px;
	font-weight: 600;
	font-family: 'Paytone One', sans-serif;
	text-align: center;
	padding-top: 40px;
	z-index: 1;
}


#station{
	box-sizing: border-box;
	background-image: url('/image/station.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	position: absolute;
	top: 25%;
	left: 45%;
}

#carj{
	background-image: url('/image/bus.png');
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotateY(180deg);
	height: 300px;
	width: 400px;
	position: absolute;
	top: 1200px;
	left: 10px;


}

.sign1{
	box-sizing: border-box;
	background-image: url('/image/sign.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	position: absolute;
	top: 40%;
	left: 0%;
	color: solid black;
	font-size: 22px;
	font-family: 'Paytone One', sans-serif;
	text-align: center;
	padding-top: 50px;
	animation: sign 1s both;
}

#sign1j{
	box-sizing: border-box;
	background-image: url('/image/sign1.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 270px;
	width: 270px;
	position: absolute;
	top: 40%;
	left: 45%;
	color: solid black;
	font-size: 22px;
	font-family: 'Paytone One', sans-serif;
	text-align: center;
	padding-top: 50px;
	font-weight: 900;
	padding-right: 50px; 
	
}

.sign1r{
	box-sizing: border-box;
	background-image: url('/image/sign.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	position: absolute;
	top: 40%;
	left: 0%;
	color: solid black;
	font-size: 22px;
	font-family: 'Paytone One', sans-serif;
	text-align: center;
	padding-top: 50px;
	animation: signr 1s both ;
}

#sign2{
	box-sizing: border-box;
	background-image: url('/image/signl.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 170px;
	width: 150px;
	position: absolute;
	top: 15%;
	left: 0%;
	color: solid black;
	font-size: 14px;
	font-weight: 900;
	font-family: 'Paytone One', sans-serif;
	text-align: center;
	padding-top: 20px;

}

#sign22{
	box-sizing: border-box;
	background-image: url('/image/sign.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
	width: 230px;
	position: absolute;
	top: 14%;
	left: 35%;
	color: solid black;
	font-size: 14px;
	font-weight: 900;
	font-family: 'Paytone One', sans-serif;
	text-align: center;
	padding-top: 50px;
	padding-right: 15px;
	
}

}

@media (min-width: 412px)and(max-width: 768px){

#station{
	box-sizing: border-box;
	background-image: url('/image/station.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	position: absolute;
	top: 25%;
	left: 30%;
}

#sign3{
	box-sizing: border-box;
	background-image: url('/image/sign.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 150px;
	width: 150px;
	position: absolute;
	top: 27%;
	left:  5%;
	z-index: 1;
	color: solid black;
	font-size: 22px;
	font-weight: 200;
	font-family: 'Paytone One', sans-serif;
	text-align: center;
	padding-top: 20px;
}

#carj{
	background-image: url('/image/bus.png');
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotateY(180deg);
	height: 300px;
	width: 400px;
	position: absolute;
	top: 1200px;
	left: 10px;


}

.sign1{
	box-sizing: border-box;
	background-image: url('/image/sign.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	position: absolute;
	top: 40%;
	left: 10%;
	color: solid black;
	font-size: 22px;
	font-family: 'Paytone One', sans-serif;
	text-align: center;
	padding-top: 50px;
	animation: sign 1s both;
}

.sign1r{
	box-sizing: border-box;
	background-image: url('/image/sign.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	position: absolute;
	top: 40%;
	left: 10%;
	color: solid black;
	font-size: 22px;
	font-family: 'Paytone One', sans-serif;
	text-align: center;
	padding-top: 50px;
	animation: signr 1s both ;
}

#sign2{
	box-sizing: border-box;
	background-image: url('/image/sign.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
	position: absolute;
	top: 20%;
	left: 15%;
	color: solid black;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Paytone One', sans-serif;
	text-align: center;
	padding-top: 20px;
}

}