@import url('https://fonts.goggleapis.com/css?family=Open+Sans');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #c21500; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c21500, #ffc500); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c21500, #ffc500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #ee4540;
    background: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: 800;
    padding-top: 100px;
    min-height: 80px;
  }


/************************
glow button 
************************/

.button {
  min-height: 80px;
  background-color: #030303;
  justify-content: center;
  text-align: center;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
 align-items: center;
 overflow: hidden;
}

a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #ee4540;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  overflow: hidden;
  transition: 0.2s;
}

a:hover {
  color: #c72c41;
  background: #ee4540;
  box-shadow: 0 0 10px #ee4540, 0 0 40px #ee4540, 0 0 80px #ee4540;
  transition-delay: 1s;
}


a span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #801336);
}

a:hover span:nth-child(1) {
  left: 100;
  transition: 1s;
}

a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #801336);
}

a:hover span:nth-child(3) {
  right: 100;
  transition: 1s;
  transition-delay: 0.5s;
}

a span:nth-child(2) {
  right: 0;
  top: -100%;
  height: 100%;
  width: 2px;
  background: linear-gradient(180deg, transparent, #801336);
}

a:hover span:nth-child(2) {
  top: 100;
  transition: 1s;
  transition-delay: 0.25s;
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #801336);
}

a:hover span:nth-child(4) {
  bottom: 100;
  transition: 1s;
  transition-delay: 0.75s;
}

/*********************
cards
*********************/

.container {
  position: relative;
  width: 100%;
  margin: auto auto;
  height: 700px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 440px; */
}

.card {
  position: relative;
  background: #cccccc;
  overflow: hidden;
  height: 400px;
  width: 300px;
  margin: auto auto;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.5s;
}

.container .card .img-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s;
  object-fit: cover;
}
img {
  height: 400px;
  width: 350px;
}
.container .card:hover .img-box {
  opacity: 1;
}

.content {
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: -100%;
  padding: 20px;
  padding-top: 100px;
  box-sizing: border-box;
  text-align: center;
  transition: 0.5s;
}

.container .card:nth-child(1) .content {
  background: linear-gradient(0deg, #df4d19, transparent);
}

.container .card:nth-child(2) .content {
  background: linear-gradient(0deg, #4c0045, transparent);
}

.container .card:nth-child(3) .content {
  background: linear-gradient(0deg, #3a414c, transparent);
}

.card:hover .content {
  bottom: 0;
}

.content h2 {
  margin: 0 0 10px;
  padding: 0;
  color: #000000;
  font-size: 25px;
}

.content h2 span {
  color: #000000;
  font-size: 20px;
}

ul {
  display: flex;
  margin: 20px 0 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

ul li {
  list-style: none;
  
}

li a {
  color: #ffd6c2;
  padding: 0 10px;
  font-size: 23px;
  transition: 0.5s;
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}
/**********************
sticky
**********************/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .card {
  padding-top: 60px;
}

#navbar {
  overflow: hidden;
  z-index: 9999;
}


/************************
responsive
************************/
@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  /*[class*="col-"] {
    width: 100%;
  }
  */

  #navbar {
    display: none;
  }

  [class*="container"] {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto auto;
    padding: auto auto;
  }

  #chief {
    width: 100%
    height: 0px;
  }

  #patron {
    width: 100%;
    height: 1300px;
  }

  #convenor {
    width: 100%
    height: 700px;
  }

  [class*="card"] {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
  }


}