<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet/admin.css" type="text/css">
    <title style="font-family:'Courier New', Courier, monospace">Incandescence</title>
    <link rel="shortcut icon" href="fonts/i.png">
    </link>
</head>

<body>
        <img src="image/logo.png" class="logo">
    <form method="POST" action='/send'>
        <div class="form-group shadow-textarea">
            <label for="exampleFormControlTextarea6">Write your Message</label>
            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="7"
                placeholder="Write something here..." name="message"></textarea>
        </div>

        <div>
            <button class="btn btn-lg btn-grad btn-block text-uppercase" type="submit" style="color: beige;">Send</button>
        </div>
    </form>

</body>

</html>