<!DOCTYPE html>
<html>

<head>
    <!-- add icon link -->
    <link rel="icon" href="/image/i.png" type="image/png">
    <title>Campus Ambassador</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheet/campus/campus.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="stylesheet/loader/loader.css">

</head>

<body>

    <!-- loader -->
    <div id='loader'>
        <div id='mascot-baton'>
            <div id='flame' class="fire_place">
                <div class="blur_fire">
                    <div class="big_flame"></div>
                </div>
                <div class="spark spark1">I</div>
                <div class="spark spark2">n</div>
                <div class="spark spark3">c</div>
                <div class="spark spark4">a</div>
                <div class="spark spark5">n</div>
                <div class="spark spark6">d</div>
                <div class="spark spark7">e</div>
                <div class="spark spark8">s</div>
                <div class="spark spark9">c</div>
                <div class="spark spark10">e</div>
                <div class="spark spark11">n</div>
                <div class="spark spark12">c</div>
                <div class="spark spark13">e</div>
            </div>
            <img src="image/loader/airawat-holding-torch.png" id="baton">
        </div>
    </div>



    <div class="container">
        <h1>CAMPUS AMBASSADOR</h1>
    </div>

    <div id="navbar">
        <a href="/" class="button">Home</a>
        <a href="#Representative" class="button">Why College Representative?</a>
        <a href="#Responsibilities" class="button">Responsibilities</a>
        <a href="#apply" class="button">How to apply ?</a>
        <a href="#contact" class="button">Whom to contact ?</a>
    </div>

    <div id="navbar1" class="back">
        <a href="/" class="button">Home</a>
    </div>

    <div class="home">

        <div id="helicopter">
            <div id="wings">
                <img src="image/campus/wing.png" style="height: 50px; width: 200px;">
            </div>
            <div id="body">
                <img src="image/campus/helicopter.png" style="height: 200px; width: 400px;">
            </div>
        </div>

    </div>



    <div class="container" id="about">
        <h1 class="text-center">About Us</h1>
        <br>
        <p>
            Incandescence is the Annual Socio-Cultural Festival of National Institute of Technology Silchar. Whilst marking four days of absolute ecstasy, Incandescence is an avenue to be comforted from the routine life and to embrace the fun and frolic embedded
            with tantalizing performances and exciting competitions. Over the years, it has managed to carve a niche for itself among its peer aesthetic and ethnic events with the participation of more than 20,000 people. From showcasing talent on The
            Ramp on the Glitterati night, dancing your heart out to the metallic tunes during Thundermarch to getting indulged into serious debating in Deprador, there's something in store for everyone. This time we have decided to make our festival more
            relishing than ever before and transcend the contemporary times! The theme of Incandescence’20 'A Royal Indian Carnival', refers collectively to the thousands of distinct and unique cultures of religions and communities all over India, from
            the Rajputana lifestyle in north-western India to the tribalway of life in north-eastern India to the Sangam literature in southern India.<br>
            <br><br>
            <b>The Campus Ambassador Program is open for all college students irrespective of their college and their fields. All you need that you are a college student!</b>

        </p>
    </div><br><br><br>



    <div class="container" id="Representative">
        <h1 class="text-center">Why College Representative?</h1>
        <br>
        <p>
            <ul>
                <li><b>CERTIFICATION</b> – Get certificate from Incandescence after the successful completion of your CA tenure.</li><br>
                <li><b>ORGANIZE EVENTS</b> – Get hands – on experience to organize events in your college and get a chance of becoming a part of organizing team of Incandescence. </li><br>
                <li><b>LEADERSHIP OPPORTUNITIES</b> – Get a chance to lead a team from your college to this 4-day extravaganza and participate in live events and competitions.</li><br>
                <li><b>PUBLICATION</b> – All the CA’s get a chance to get feature on our official Facebook and Instagram page of Incandescence. </li><br>
                <li><b>PERKS</b> - VIP passes, merchandise and branded Incandescence goodies, free accommodation, chance to meet celebrities and artists along with food coupons and other cashback coupons for top performers. </li><br>
            </ul>


        </p>
    </div><br><br><br>

    <div class="container" id="Responsibilities">
        <h1 class="text-center">Responsibilities as a <span>CA</span></h1>
        <br>
        <p>
            <ul>
                <li><b>BE THE FACE OF INCANDESCENCE</b> – Standout in the crowd and represent Incandescence in your college, organize events and publicize it through both offline and online events.</li><br>
                <li><b>IDEATION</b> – Brainstorming on new events, artists, and venues for the events organized under Incandescence’20</li><br>
                <li><b>COORDINATION AND MANAGING PUBLIC RELATION</b>- Collaborate with the Incandescence team and helps us in growing our public relation and reach of events. We also expect you to make our mode of communication easier with your college authorities
                    and student representatives.</li><br>
            </ul>



        </p>
    </div><br><br><br>

    <div class="container" id="apply">
        <h1 class="text-center">How to apply?</h1>
        <br>
        <p>
            <ul>
                <li>Fill the Google Form using the link provided in the Facebook post description. </li>
                <li>Or visit this link</li><br>
            </ul>


        </p>
        <a href="https://forms.gle/xHYT4ENKyQnQ5GsG8" id="middle-button">
            <button class="btn btn-success text-center">Register</button>
        </a>
    </div><br><br><br>

    <div class="container" id="contact">
        <h1 class="text-center">Whom to contact?</h1>
        <br>
        <!--Cards -->
        <div class="row">
            <div class="col col-12 col-lg-6">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="image/campus/contact/sarvagya.jpg" alt="Avatar">
                        </div>
                        <div class="flip-card-back">
                            <h3>Sarvagya Saxena</h3>
                            <p>Campus Ambassador,<br>Incandescence<br>+918630444673</p>
                            <div class="icons">
                                <a href="https://www.facebook.com/sarvagya.saxena.18"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-6">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="image/campus/contact/pathak.png" alt="Avatar">
                        </div>
                        <div class="flip-card-back">
                            <h3>Udit Pathak</h3>
                            <p>Campus Ambassador,<br>Incandescence<br>+919954960226</p>
                            <div class="icons">
                                <a href="https://www.facebook.com/udit.pathak.54"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://www.instagram.com/uditpathak59/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-12 col-lg-6">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="image/campus/contact/ashish.jpeg" alt="Avatar">
                        </div>
                        <div class="flip-card-back">
                            <h3>Ashish Ranjan</h3>
                            <p>Campus Ambassador,<br>Incandescence<br>+919523134927</p>
                            <div class="icons">
                                <a href="https://www.facebook.com/whyisashish"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://www.instagram.com/insta_ashish.ranjan/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-6">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="image/campus/contact/apoorv.jpeg" alt="Avatar">
                        </div>
                        <div class="flip-card-back">
                            <h3>Apoorv Singh</h3>
                            <p>Campus Ambassador,<br>Incandescence<br>+918076461781</p>
                            <div class="icons">
                                <a href="https://www.facebook.com/apoorvsingh1999"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br><br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/campus/campus.js"></script>

    <script type="text/javascript">
        window.addEventListener('load', function() {
            document.getElementById('loader').remove();
        });
    </script>


</body>


</html>