<!DOCTYPE html>
<html>

<head>
    <!-- add icon link -->
    <link rel="icon" href="/image/i.png" type="image/png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title style="font-family:'Courier New', Courier, monospace">Incandescence</title>
    <link rel="shortcut icon" href="fonts/i.png">
</head>

<body>
    <div>
        <form class="form-signin" method="POST" action="/check">

            <div class="form-label-group">
                <input id="7" type="text" name="id" class="form-control" placeholder="Unique ID" required autofocus>
                <label for="7">Unique ID</label>
                <button>CHECK</button>
            </div>
            <div>
                <h1>
                    <%=customer%>
                </h1>
            </div>
        </form>
    </div>
</body>

</html>