<!DOCTYPE html>
<html>

<head>
    <!-- add icon link -->
    <link rel="icon" href="/image/i.png" type="image/png">
    <title>Events</title>
    <meta name="Incandescence Event Page" content="Events in Incandescence 2020 | NIT Silchar">
    <meta name="robots" content="index, follow" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="stylesheet/loader/loader.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/menu/menu.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/event/eventmenu.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/event/event.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel='stylesheet' type="text/css" href='stylesheet/footer/footer.css'>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


    <style>
        * {
            scrollbar-color: #EBD62C transparent;
            scrollbar-width: thin;
        }
        
         ::-webkit-scrollbar {
            width: 10px;
            height: 3px;
        }
        
         ::-webkit-scrollbar-track {
            background: transparent;
        }
        
         ::-webkit-scrollbar-thumb {
            background: #EBD62C;
        }
        
         ::-webkit-scrollbar-thumb:hover {
            background: black;
        }
    </style>
</head>


<body>
    <!-- loader -->
    <div id='loader'>
        <div id='mascot-baton'>
            <div id='flame' class="fire_place">
                <div class="blur_fire">
                    <div class="big_flame"></div>
                </div>
                <div class="spark spark1">I</div>
                <div class="spark spark2">n</div>
                <div class="spark spark3">c</div>
                <div class="spark spark4">a</div>
                <div class="spark spark5">n</div>
                <div class="spark spark6">d</div>
                <div class="spark spark7">e</div>
                <div class="spark spark8">s</div>
                <div class="spark spark9">c</div>
                <div class="spark spark10">e</div>
                <div class="spark spark11">n</div>
                <div class="spark spark12">c</div>
                <div class="spark spark13">e</div>
            </div>
            <img src="/image/loader/airawat-holding-torch.png" id="baton">
        </div>
    </div>

    <!-- menu -->
    <div id="menu">

        <a href='/'>
            <div id='logo'>
            </div>
        </a>

        <div id="cld1c">
            <div id="cld1">
                <p>Menu</p>
            </div>
        </div>

        <div id="cld2c">
            <div id="cld2">
            </div>
        </div>

        <div id="cld3c">
            <div id="cld3">
            </div>
        </div>

        <div id="cld4c">
            <div id="cld4">
                <a href="/event" id="link1">Events</a>
            </div>
        </div>

        <div id="cld5c">
            <div id="cld5">
                <a href="/gallery" id="link2">Gallery</a>
            </div>
        </div>

        <div id="cld6c">
            <div id="cld6">
                <a href="/brochure" id="link3">Brochure</a>
            </div>
        </div>

        <div id="cld7c">
            <div id="cld7">
                <a href="#" id="link4">Tickets</a>
            </div>
        </div>

        <div id="cld8c">
            <div id="cld8">
                <a href="/munhome" id="link5">NITS MUN</a>
            </div>
        </div>

        <div id="cld9c">
            <div id="cld9">
                <a href="http://www.razzmatazznits.com" id="link6">Razzmatazz</a>
            </div>
        </div>


        <div id="cld10c">
            <div id="cld10">
                <a href="/indieunplugged" id="link6">Indie</a>
            </div>
        </div>


        <div id="cld11c">
            <div id="cld11">
                <a href="/thundermarch" id="link6">Thundermarch</a>
            </div>
        </div>

    </div>


    <br>
    <canvas id="bubble"></canvas>

    <svg id="top" viewBox="0 0 980 300 ">
            <symbol id="s-text">
            <text text-anchor="end" x="70%" y="70%">Events...</text>
            </symbol>
            
          <g class = "g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
          </g>
        </svg>
    <hr color="#E70843">


    <!--event 1-->
    <div class="time">
        <div class="container left back1" data-aos="fade-right">
            <div class="content">
                <!-- <div><img src="/image/Events/Deprador.png"></div> -->
                <div class="event-info">
                    <h1 class="title" style="text-align: right;">Carnival of Bites</h1>
                    <p style="font-size: 1.5rempx; text-align: right;"><b>DATE:</b>TBA</br> <b>TIME:</b>TBA
                    </p>
                    <button id="myBtn1" class="button"> Read More...</button>
                </div>
                <!-- The Modal -->
                <div id="myModal1" class="modal">

                    <object class='svg-background' type="image/svg+xml" data="/image/Events/scroll2.svg">
                        <div class="background"></div>
                    </object>


                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close" id="close1">&times;</span>
                        <p class="text"><span class="t1">A thing of beauty is a joy forever.<img src="/image/Events/original.jpg"></span><br><br> Following the same line of thought Food also serves us with the same delight. Sometimes, being told not to do something just
                            makes us want it all the more. <img src="/image/Events/Indian-food.jpg" style="float: right;">Sometimes, a little of what you crave is better than total abstinence. <img src="/image/Events/IMG_5894.jpg"><span class="people">National Institute of
                                Technology Silchar</span> welcomes you to The
                            <span class="t2">Carnival of Bites,</span> where you get to not only fill your tummies with a new variety of cuisines but also enjoy the true Zaika of the Spring. Join us for the uncovering on the "nth" of February, and end
                            all cravings

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--event 2-->
        <div class="container right  back2" data-aos="fade-left">
            <div class="content">
                <!--<div><img src="/image/Events/asset14.png"></div>-->
                <div class="event-info">
                    <h1 class="title" style="text-align: right;">Carpedium Night</h1>
                    <p style="font-size: 1.5rempx; text-align: right;"><b>DATE:</b>TBA</br> <b>TIME:</b>TBA</p>
                    <button id="myBtn2" class="button"> Read More...</button>
                </div>
                <!-- The Modal -->
                <div id="myModal2" class="modal">
                    <object class='svg-background' type="image/svg+xml" data="/image/Events/scroll2.svg">
                        <div class="background"></div>
                    </object>
                    <!-- Modal content -->
                    <div class="modal-content">

                        <span class="close" id="close2">&times;</span>
                        <p class="text"><span class="t2"><img src="/image/Events/7.jpg"  ><br>
                  Carpediem</span> night replenishes the bucket of four days of energy and excitement of Incandescence, with even more energy and grace Carpe diem is ready to entertain you as much as all the programs of past 4 days out together. Witness
                            a huge throng of people sway their heads to the beats of their favourite bands and artists. Get ready to cherish some of finest memories and get your new year kickstarted with some real fun. Lose yourself in this musical festival
                            and explore the new version of you as popular names such as <span class="people">Papon,Prateek Kuhad, The Local Train, Monali Thakur, Spunk,Nikhil D'Souza, Zephyrtone and Gajendra Verma</span> had made the crowd go crazy in
                            the previous presentations.<br>
                            <img class="pics" src="/image/Events/8.jpg"> <img class="pics" src="/image/Events/10.jpg">
                            <img class="pics" src="/image/Events/9.jpg">
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!--event 3-->
        <div class="container left  back3" data-aos="fade-right">
            <div class="content">
                <!-- <div><img src="/image/Events/asset16.png"></div>-->
                <div class="event-info">
                    <h1 class="title" style="text-align: right;">Deprador</h1>
                    <p style="font-size: 1.5rempx; text-align: right;"><b>DATE:</b>TBA</br> <b>TIME:</b>TBA</p>
                    <button id="myBtn3" class="button"> Read More...</button>
                </div>
                <!-- The Modal -->
                <div id="myModal3" class="modal">
                    <object class='svg-background' type="image/svg+xml" data="/image/Events/scroll2.svg">
                        <div class="background"></div>
                    </object>
                    <!-- Modal content -->
                    <div class="modal-content">

                        <span class="close" id="close3">&times;</span>
                        <p class="text"> <img src="/image/Events/pic-01.jpg"><span class="t1">Words wind themselves around your limbs like spider silk, and when you are so enthralled you cannot move, they pierce your skin, enter your blood, numb your thoughts and inside you, they work their magic.</span>
                            <br><br> <img src="/image/Events/pic-05.jpg" style="float: right;">Duly, brush-up your vocabulary, watch your footstep and unearth the crux of the competition, as NITS is back with the <span class="people"> 12th edition</span>                            of the grand debating phenomenon
                            <img src="/image/Events/15.jpg">
                            <span class="t2">“Deprador”.</span> The platform that has already witnessed unique intellective brains of our nation including <span class="people"> Dr.Radhakrishnan Pillai, Sudeep Nagarkar and Bhavana Arora</span> is eager
                            to beguile us again with outstanding wizards involved.<img src="/image/Events/16.jpg" style="float: right;"> So, collect your shrewdness, spirit, courage and endurance and hold on as we set up the dice for the premier Debating
                            competition Deprador 12.0 and accompany us on.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!--event 4-->
        <div class="container right  back4" data-aos="fade-left">
            <div class="content">
                <!--  <div><img src="/image/Events/asset11.png"></div>-->
                <div class="event-info">
                    <h1 class="title" style="text-align: right;">Glitterati</h1>
                    <p style="font-size: 1.5rempx; text-align: right;"><b>DATE:</b>TBA</br><b>TIME:</b>TBA</p>
                    <button id="myBtn4" class="button"> Read More...</button>
                </div>
                <!-- The Modal -->
                <div id="myModal4" class="modal">
                    <object class='svg-background' type="image/svg+xml" data="/image/Events/scroll2.svg">
                        <div class="background"></div>
                    </object>
                    <!-- Modal content -->
                    <div class="modal-content">

                        <span class="close" id="close4">&times;</span>
                        <p class="text"><span class="t1">"Fashion is the armor to survive the reality of everyday life."</span><br><br><span class="t2">Glitterati</span> the all over out of the box,<img src="/image/Events/2.jpg" style="float: right;"> reviving yourself
                            from the tech-life and hopping into an evening full of lights, colors and glamour, the fashion module of Incandescence. Bosting up your confidence, getting suited up and walking on the ramp in front of the mass with eminent
                            Fashion Personalities as <img src="/image/Events/3.jpg"> a part of that crowd, just takes you away to a self-created <span class="people"> Alexander McQueen</span> set. Team Glitterati, Incandescence 2020, warmly welcomes you
                            all to witness this extravagant show of the costumes from the closet.</p>
                    </div>
                </div>
            </div>
        </div>


        <!--event 5-->
        <div class="container left  back5" data-aos="fade-right">
            <div class="content">
                <!--   <div><img src="/image/Events/asset26.png"></div>-->
                <div class='event-info'>
                    <h1 class="title" style="text-align: right;">Indie Unplugged</h1>
                    <p style="font-size: 1.5rempx; text-align: right;"><b>DATE:</b>TBA</br> <b>TIME:</b>TBA</p>
                    <button id="myBtn5" class="button"> Read More...</button>
                </div>
                <!-- The Modal -->
                <div id="myModal5" class="modal">
                    <object class='svg-background' type="image/svg+xml" data="/image/Events/scroll2.svg">
                        <div class="background"></div>
                    </object>
                    <!-- Modal content -->
                    <div class="modal-content">

                        <span class="close" id="close5">&times;</span>
                        <p class="text"><span class="t1">Want to experience sheer musical pleasure?</span><br><br> <img src="/image/Events/IMG_2285.jpg" style="float: right;"> If yes, Incandescence 2020 has in store exactly what you need. We present you the lakeside
                            musical event of
                            <span class="t2">Indie Unplugged -</span> an event like no other where you can groove to musical performances by some of the best talents in NIT Silchar and beyond. Previously graced by the likes of <span class="people">Tejas Menon, Dhruv Vishwanath
                            and Prateek Kuhad</span> , Indie Unplugged is one of the best events Incandescence has to offer. Open February skies, a magestic lakeside view, and a pleasant winter breeze accompanied by soulful musical notes make for a perfect
                            ambience for a romantic night out. Get ready to immerse yourself into a magical evening under the stars, an evening you'll cherish forever.
                        </p>
                    </div>
                </div>
            </div>
        </div>



        <!--event 6-->
        <div class="container right  back6" data-aos="fade-left">
            <div class="content">
                <!--<div><img src="/image/Events/asset7.png"></div> -->
                <div class='event-info'>
                    <h1 class="title" style="text-align: right;">Kavi Sammelan</h1>
                    <p style="font-size: 1.5rempx; text-align: right;"><b>DATE:</b>TBA</br> <b>TIME:</b>TBA</p>
                    <button id="myBtn6" class="button"> Read More...</button>
                </div>

                <!-- The Modal -->
                <div id="myModal6" class="modal">
                    <object class='svg-background' type="image/svg+xml" data="/image/Events/scroll2.svg">
                        <div class="background"></div>
                    </object>
                    <!-- Modal content -->
                    <div class="modal-content">

                        <span class="close" id="close6">&times;</span>
                        <p class="text"> <img src="/image/Events/IMG_6168-2-2.jpg">The stage is ready once again to add to the dazzle and enthral Incandescence with the melody and the rhyme of words.<br><br> <span class="t1">The painful truths of life can indeed take a beautiful turn when woven into an aesthetic thread of words and punctuations and delivered with the most intense conviction, that takes you to the journey beyond literature.</span><br><br>Embrace
                            the festivity and be a part of this enchanting evening. This stage has already witnessed <span class="people">the maestro Vishnu Saxena and the likes of Kumar Vishwas</span> .<br><br> Brace yourselves to be a part of! this
                            amazing
                            <span class="t2">Kavi Sammelan!!</span>
                        </p>
                    </div>

                </div>

            </div>
        </div>



        <!--event 7-->
        <div class="container left  back7" data-aos="fade-right">
            <div class="content">
                <!--  <div><img src="/image/Events/asset12.png"></div>-->
                <div class='event-info'>
                    <h1 class="title" style="text-align: right;">Natraaj</h1>
                    <p style="font-size: 1.5rempx; text-align: right;"><b>DATE:</b>TBA</br> <b>TIME:</b> TBA</p>
                    <button id="myBtn7" class="button"> Read More...</button>
                </div>

                <!-- The Modal -->
                <div id="myModal7" class="modal">
                    <object class='svg-background' type="image/svg+xml" data="/image/Events/scroll2.svg">
                        <div class="background"></div>
                    </object>
                    <!-- Modal content -->
                    <div class="modal-content">

                        <span class="close" id="close7">&times;</span>
                        <p class="text"><img src="/image/Events/IMG_5908.jpg">The Dance Module of Incandescence,is perfectly a treat for all dance enthusiasts across the campus. The stage is all set for the mouth-watering face-offs and nerve wrenching grooves.
                            <img src="/image/Events/IMG_5919.jpg" style="float: right;"> So gear up for one of the biggest Dance Jam , with 100+ participants from all around the Northeast.. It has been one of the platforms for dancing sultans like
                            <span class="people">Bir Radha Sherpa</span> , who has won three times in <span class="t2">Nataraj</span> module of Incandescence. <img src="/image/Events/IMG_5991.jpg">Convert your talent into your passion, come, join us in
                            the Street Battles, Solo Showcase, One on One Dance Battles and lot more that is waiting for you in the NITS House!!<img src="/image/Events/IMG_5928.jpg" style="float: right;">

                            <button><a href="https://d2c.pw/4hwDq9" target="_blank" style="display:inline-block; color:green;">Register for Ground Zero</a></button>
                        </p>
                    </div>

                </div>

            </div>
        </div>



        <!--event 8-->
        <div class="container right  back8" data-aos="fade-left">
            <div class="content">
                <!--  <div><img class="img" src="/image/Events/asset15.png"></div>-->
                <div class='event-info'>
                    <h1 class="title" style="text-align: right;">NITSMUN</h1>
                    <p style="font-size: 1.5rempx; text-align: right;"><b>DATE:</b>TBA</br> <b>TIME:</b>TBA</p>
                    <button id="myBtn8" class="button"> Read More...</button>
                </div>

                <!-- The Modal -->
                <div id="myModal8" class="modal">
                    <object class='svg-background' type="image/svg+xml" data="/image/Events/scroll2.svg">
                        <div class="background"></div>
                    </object>
                    <!-- Modal content -->
                    <div class="modal-content">

                        <span class="close" id="close8">&times;</span>
                        <p class="text"><img src="/image/Events/DSC_0070.jpg">Brace yourselves because the vibes on this are strong. Get ready to experience the rush where all stands are vital and every second is crucial.
                            <br><br><span class="t1">Always dreamt of banging the tables the way it's done in parliament?<img src="/image/Events/DSC_0066.jpg" style="float: right;" ><br> Or wanted to sort crisis or an improper state of the world?<br></span>
                            <img src="/image/Events/IMG_6385.jpg" style="float: left;"> Fascinated by Extempore? GD? Debate? Elocution?</span><br><br> <span class="t2">NITSMUN</span> sediments all of them! Bestow your defenses upon others to thwart their
                            inevitable attacks. A three day event giving you lifetime memories and a three day experience expanding your glories. Bring your game out,channelize your wrath in your words. Make your opponent clueless in your polygon! So
                            suit up delegates!! It’s high time to change this world.<img src="/image/Events/DSC_0068.jpg" style="float: right;"> Take the MUN pause and immerse yourselves in the 3 day literary extravaganza!!
                        </p>
                    </div>

                </div>

            </div>
        </div>


        <!--event 9-->
        <div class="container left  back9" data-aos="fade-right">
            <div class="content">
                <!-- <div><img src="/image/Events/asset8.png"></div>-->
                <div class='event-info'>
                    <h1 class="title" style="text-align: right;">Nirvana</h1>
                    <p style="font-size: 1.5rempx; text-align: right;"><b>DATE:</b>TBA</br> <b>TIME:</b>TBA</p>
                    <button id="myBtn9" class="button"> Read More...</button>
                </div>
                <!-- The Modal -->
                <div id="myModal9" class="modal">
                    <object class='svg-background' type="image/svg+xml" data="/image/Events/scroll2.svg">
                        <div class="background"></div>
                    </object>
                    <!-- Modal content -->
                    <div class="modal-content">

                        <span class="close" id="close9">&times;</span>
                        <p class="text"> <img class="pics" src="/image/Events/13.jpg">Smile and laughter make every event a happening one.To enhance the laughter,we have a comedy show too.This not only makes us hold our stomach but also makes the night a glorius one.The
                            Comedy Night is one of the events having the maximum participation.<br><br>It's aim is about,<br><br><span class="t1">"Making the hearts happy and light,<br><br>All with the comedy night".<br><br><img class="pics" src="/image/Events/11.jpg" style="float: right;" >
                  <img class="pics" src="/image/Events/12.jpg" ></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>





        <!--event 10-->
        <div class="container right  back10" data-aos="fade-left">
            <div class="content">
                <!--  <div><img src="/image/Events/asset19.png"></div>-->
                <div class='event-info'>
                    <h1 class="title" style="text-align: right;">Prom Night</h1>
                    <p style="font-size: 1.5rempx; text-align: right;"><b>DATE:</b>TBA</br> <b>TIME:</b>TBA</p>
                    <button id="myBtn10" class="button"> Read More...</button>
                </div>

                <!-- The Modal -->
                <div id="myModal10" class="modal">
                    <object class='svg-background' type="image/svg+xml" data="/image/Events/scroll2.svg">
                        <div class="background"></div>
                    </object>
                    <!-- Modal content -->
                    <div class="modal-content">

                        <span class="close" id="close10">&times;</span>
                        <p class="text"> <img src="/image/Events/DSC_0094.jpg">Set in the chilly nights of February, under a sky full of innumerable constellations, on the eve of Valentine's Day, Incandescence presents the <span class="t2">Prom Night.</span> Suit up with
                            your better half and enjoy an evening filled with enthral, sparkles, rhythm and food. Create unforgettable memories with your precious ones and embark on this royal journey of love, frill and lavishness brought to you by Incandescence.
                        </p>
                    </div>

                </div>

            </div>
        </div>



        <!--event 11-->
        <div class="container left  back11" data-aos="fade-right">
            <div class="content">
                <!--    <div><img src="/image/Events/asset22.png"></div>-->
                <div class='event-info'>
                    <h1 class="title" style="text-align: right;">Razzmatazz</h1>
                    <p style="font-size: 1.5rempx; text-align: right;"><b>DATE:</b>TBA</br> <b>TIME:</b>TBA</p>
                    <button id="myBtn11" class="button"> Read More...</button>
                </div>

                <!-- The Modal -->
                <div id="myModal11" class="modal">
                    <object class='svg-background' type="image/svg+xml" data="/image/Events/scroll2.svg">
                        <div class="background"></div>
                    </object>
                    <!-- Modal content -->
                    <div class="modal-content">

                        <span class="close" id="close11">&times;</span>
                        <p class="text"><span class="t1"><img src="/image/Events/IMG_6438.jpg"> We’re humans, defined and developed through our memories and experiences, and the root of this tree of life is our childhood, and Incandescence has never failed bring back those memories.</span><br><br>                            So, NITS presents to you <span class="t2">Razzmatazz ’20,</span> <img src="/image/Events/IMG_6457.jpg">a module for school students of Barak Valley. Two days of overflowing liveliness, a blazing entrapment of skills and a plethora
                            of events will test the different talents of the next generation and aim to bring the best in them. <img src="/image/Events/IMG_6434.jpg" style="float: right;">We care, because, we have lived that life and would want to live
                            that once more.<br> So, you’re ever welcome to be amazed!

                        </p>
                    </div>

                </div>

            </div>
        </div>



        <!--event 12-->
        <div class="container right  back12" data-aos="fade-left">
            <div class="content">
                <!-- <div><img src="/image/Events/asset24.png"></div> -->
                <div class='event-info'>
                    <h1 class="title" style="text-align: right;">Sokratik</h1>
                    <p style="font-size: 1.5rempx; text-align: right;"><b>DATE:</b>TBA</br> <b>TIME:</b>TBA</p>
                    <button id="myBtn12" class="button"> Read More...</button>
                </div>

                <!-- The Modal -->
                <div id="myModal12" class="modal">
                    <object class='svg-background' type="image/svg+xml" data="/image/Events/scroll2.svg">
                        <div class="background"></div>
                    </object>
                    <!-- Modal content -->
                    <div class="modal-content">

                        <span class="close" id="close12">&times;</span>
                        <p class="text"><span class="t1"><img src="/image/Events/DSC_0128.jpg">Are you that kid who is constantly in a quest for knowledge and is always searching for answers?<br> Ever want to face the heat of arduous, foxy and catchy questions by some of the finest quizmasters across the country?</span><br><br>                            The wait is over cause once again, unearthing the impulse of nail-biting quizzing; <span class="t2">SOKRATIK</span> is here, the quiz module of Incandescence 2020. SOKRATIK brings you a two day long array of a MELA and General
                            quiz for your knowledge savvy mind. Previously hosted by some of the eminent quizmasters namely <span class="people">Vinay Upadhyay, Abhra Das, Ashutosh Das</span> . So guys get your quizzing hats ready cause it’s time to conquer
                            NITS with your quizzing erudition and experience.
                        </p>
                    </div>

                </div>

            </div>
        </div>



        <!--event 13-->
        <div class="container left  back13" data-aos="fade-right">
            <div class="content">

                <div class='event-info'>
                    <h1 class="title" style="text-align: right;">The Thespian <br>Rhapsody</h1>
                    <p style="font-size: 1.5rempx; text-align: right;"><b>DATE:</b>TBA</br> <b>TIME:</b>TBA</p>
                    <button id="myBtn13" class="button"> Read More...</button>
                </div>

                <!-- The Modal -->
                <div id="myModal13" class="modal">
                    <object class='svg-background' type="image/svg+xml" data="/image/Events/scroll2.svg">
                        <div class="background"></div>
                    </object>
                    <!-- Modal content -->
                    <div class="modal-content">

                        <span class="close" id="close13">&times;</span>
                        <p class="text"><span class="t1">Emotions , expressions , characters and dedication, are all that an actor wants to convey. Imparting a tale to the spectators containing multiple emotions and characters by an individual identity is a challenge. Illustrating a chronicle within a short stretch and making the viewers hitched in it is an art.</span><br><br>                            To have a fortune to demonstrate personal feelings , relationships , social values , humorous aspects or other supplemental topics, Incandescence presents you <span class="t2">The Thespian Rhapsody,</span> the module from the
                            dramatics club. <img src="/image/Events/DSC_0052-2.jpg" style="float: right;">Consisting of events like <span class="people">Director’s Cut(the short film making competition) and Espimere(the mono act competition)</span>.<br><br>
                            <span class="t1">So Get the cheers , Bring the reactions. <br>
                In a count of three - Lights , Camera and Action.</span>

                        </p>
                    </div>

                </div>

            </div>
        </div>



        <!--event 14-->
        <div class="container right back14" data-aos="fade-left">
            <div class="content">
                <!-- <div><img src="/image/Events/asset10.png"></div> -->
                <div class='event-info'>
                    <h1 class="title" style="text-align: right;">Thundermarch</h1>
                    <p style="font-size: 1.5rempx; text-align: right;"><b>DATE:</b>TBA</br> <b>TIME:</b>TBA</p>
                    <button id="myBtn14" class="button"> Read More...</button>
                </div>

                <!-- The Modal -->
                <div id="myModal14" class="modal">
                    <object class='svg-background' type="image/svg+xml" data="/image/Events/scroll2.svg">
                        <div class="background"></div>
                    </object>
                    <!-- Modal content -->
                    <div class="modal-content">

                        <span class="close" id="close14">&times;</span>
                        <p class="text">
                            <img src="/image/Events/IMG_7053.jpg"> NITS presents a face-melting riffs, heavy blast beats and death growls as the highest degree of metal bands from across the nation battle it out to the triumph in the way to the ultimate
                            glory. Plethora of thunderous performances of the likes of <span class="people">Polyphia, Guthrie Govan, Chronic Xorn, Underground Authority, Polar Lights, Ioish, Parikrama, Underside, Undying.inc, Third Sovereign, Junkyard Groove and Parashara</span>                            had enthralled the audience in the recent past years.<img src="/image/Events/IMG_9883-2.jpg" style="float: right;"> Scream out all the pent up anger and suppressed feelings as Incandescence brings you the biggest metal fest
                            of India:
                            <span class="t2">Thundermarch.</span> Witness the royal monsters of rhythm bloodbath their path to glory.

                            <span class="t1" id="thunder"><br><br><br>Stay high, Stay brutal !!</span>
                            <br>


                            <img src="/image/Events/17.jpg" style="width: 100%; float: unset;">

                        </p>
                    </div>

                </div>

            </div>
        </div>



        <!--event 15-->
        <div class="container left back15" data-aos="fade-right">
            <div class="content">
                <!-- <div><img src="/image/Events/asset8.png"></div>-->
                <div class='event-info'>
                    <h1 class="title" style="text-align: right;">Voice of Incand</h1>
                    <p style="font-size: 1.5rempx; text-align: right;"><b>DATE:</b>TBA</br> <b>TIME:</b>TBA</p>
                    <button id="myBtn15" class="button"> Read More...</button>
                </div>

                <!-- The Modal -->
                <div id="myModal15" class="modal">
                    <object class='svg-background' type="image/svg+xml" data="/image/Events/scroll2.svg">
                        <div class="background"></div>
                    </object>
                    <!-- Modal content -->
                    <div class="modal-content">

                        <span class="close" id="close15">&times;</span>
                        <p class="text"> <img src="/image/Events/IMG_2176.jpg"><span class="t1">As Friedrich Nietzsche had said "without music, life would be a mistake.”</span><br><br> Haven’t you sung out loud to the notes of a heart-breaking Arijit masterpiece or blabbered
                            gibberish to match Eminem’s fluency?Haven’t you been waiting for that one opportunity to show the world just how awesome a singer you could be?The affinity to music is common to all of us and to celebrate that recognition,
                            we extend an invitation to sing your soul out at <span class="t2">‘Voice of Incand'.</span> With the crafty concoction of talent and tune, this year's volume is going to leave you thrilled for more.
                        </p>
                    </div>

                </div>

            </div>
        </div>



        <!--event 16-->
        <div class="container right back16" data-aos="fade-left">
            <div class="content">
                <!-- <div><img src="/image/Events/asset25.png"></div>-->
                <div class='event-info'>
                    <h1 class="title" style="text-align: right;">V-Warz</h1>
                    <p style="font-size: 1.5rempx; text-align: right;"><b>DATE:</b>TBA</br> <b>TIME:</b>TBA</p>
                    <button id="myBtn16" class="button"> Read More...</button>
                </div>

                <!-- The Modal -->
                <div id="myModal16" class="modal">
                    <object class='svg-background' type="image/svg+xml" data="/image/Events/scroll2.svg">
                        <div class="background"></div>
                    </object>
                    <!-- Modal content -->
                    <div class="modal-content">

                        <span class="close" id="close16">&times;</span>
                        <p class="text"><span class="t1">Ever thought of having your own reign with just one shot?<br> Imagine  the adrenaline rushing through your veins while fighting with your rivals.<br> Do you want to be in the battle among the best gamers in your region?<br> Do you want to taste the sweetest victory ?</span><br><br>
                            <img src="/image/Events/18.jpg" style="float: right;"> Then, Incandescence brings you the greatest sporting event,<span class="t2">V-Warz</span> where you need to show your gaming mettle while fighting with your brothers in
                            arm . From <span class="people ">PUBG to CS:GO</span> , we’ve got all the popular ones. So,get ready to bleed bullets in your opponents’chests. Join hands with your allies and face the most formidable foe. Every second counts!.
                            Come ,confront and show the entire world, who is the real hero of this virtual world.

                        </p>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <!--Scroll up button-->
    <a href="#top "><i class='fas fa-chevron-circle-up' id="scrollup " style="font-size:48px;color:#9d0b0b;margin-top: 25vh; background: white; border-radius: 50%; z-index: 5;"></i></a>


    <footer class="footer-distributed">

        <div class="footer-left">
            <a href='/'><img src='/image/menu/logo.png' style="width: 100%;"></a>
        </div>

        <div class="footer-center">
            <h3>Quick Links</h3>
            <ul style="list-style:none;" class="footer-links">
                <li><a href="/faq">FAQ</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/reachus">Reach Us</a></li>
                <li><a href="/sponsors">Sponsors</a></li>
            </ul>
        </div>

        <div class="footer-right">
            <div class="footer-links">
                <a href="/campus">
                    <h3>Campus Ambassador</i>
                    </h3>
                </a>
            </div>
            <div class="footer-icons">
                <a href="https://www.facebook.com/incandescence.nits"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/incandnits?lang=en"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UCb_0C06vYP674tyu50o7-Fg"><i class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/incandescence.nits/"><i class="fab fa-instagram"></i></a>
                <a href="mailto:incandescencenitsilchar@gmail.com"><i class="fa fa-envelope"></i></a>
            </div>
        </div>

    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.js "></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="js/menu/menu.js "></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js "></script>
    <script src="js/event/resizer.js "></script>
    <script type="text/javascript " src="js/event/event.js "></script>
    <script type="text/javascript ">
        window.addEventListener('load', function() {
            $(window).resize(function(e) {
                adaptMenu();
                resizer();
            });

            AOS.init();
            background();
            document.getElementById('loader').remove();
        });
        adaptMenu();
        resizer();
    </script>

</body>

</html>