<!DOCTYPE html>
<html>

<head>
  <title>Event</title>
  <link rel="stylesheet" type="text/css" href="stylesheet/event.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700i" rel="stylesheet">
  <style>
    ::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background: #EBD62C;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: black;
    }
  </style>
</head>

<body>

  <canvas id="bubble"></canvas>
  <!--title of the page-->

  <span> <a href="/"><img id="logo" src="/image/newlogo.jpg" style="display: block;"></a></span>
  <svg id="top" viewBox="0 0 980 300 ">
    <symbol id="s-text">
      <text text-anchor="end" x="70%" y="40%">Events...</text>
    </symbol>

    <g class="g-ants">
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
    </g>
  </svg>

  <p id="royal">A Royal Indian Carnival...</p>
  <hr color="orange">
  <!--event 1-->
  <div class="time">
    <div class="container left ">
      <div class="content" style="background-image: linear-gradient(to top right, #da2d2d, #f6da63);">
        <div><img src="/image/asset11.png"></div>
        <h1 class="title" style="text-align: right;">Glitterati</h1>
        <p style="font-size: 20px; text-align: right;"><b>DATE:</b> COMING SOON! </br> <b>TIME:</b> COMING SOON! </p>
        <button id="myBtn1" class="button"> Read More...</button>
        <!-- The Modal -->
        <div id="myModal1" class="modalLeft">
          <div><img src="/image/asset11.png" class="modalicon"></div>
          <!-- Modal content -->
          <div class="modal-content">

            <span class="close" id="close1">&times;</span>
            <p class="text">"Fashion is the armor to survive the reality of everyday life."Glitterati, the all over out
              of the box, reviving yourself from the tech-life and hopping into an evening full of lights, colors and
              glamour, the fashion module of Incandescence. Bosting up your confidence, getting suited up and walking on
              the ramp in front of the mass with eminent Fashion Personalities as a part of that crowd, just takes you
              away to a self-created Alexander McQueen set. Team Glitterati, Incandescence 2020, warmly welcomes you all
              to witness this extravagant show of the costumes from the closet.</p>
          </div>
        </div>
      </div>
    </div>

    <!--event 2-->
    <div class="container right" data-aos="fade-left">
      <div class="content" style="background-image: linear-gradient(to top left, #da2d2d, #f6da63);">
        <div><img src="/image/asset10.png"></div>
        <h1 class="title" style="text-align: right;">Thunder<br>march</h1>
        <p style="font-size: 20px; text-align: right;"><b>DATE:</b> COMING SOON! </br> <b>TIME:</b> COMING SOON! </p>
        <button id="myBtn2" class="button"> Read More...</button>
        <!-- The Modal -->
        <div id="myModal2" class="modalRight">
          <div><img src="/image/asset10.png" class="modalicon"></div>
          <!-- Modal content -->
          <div class="modal-content">

            <span class="close" id="close2">&times;</span>
            <p class="text">NITS presents a face-melting riffs, heavy blast beats and death growls as the highest degree
              of metal bands from across the nation battle it out to the triumph in the way to the ultimate glory.
              Plethora of thunderous performances of the likes of Polyphia, Guthrie Govan, Chronic Xorn, Underground
              Authority, Polar Lights, Ioish, Parikrama, Underside, Undying.inc, Third Sovereign, Junkyard Groove and
              Parashara had enthralled the audience in the recent past years.
              Scream out all the pent up anger and suppressed feelings as Incandescence brings you the biggest metal
              fest of India: Thundermarch. Witness the royal monsters of rhythm bloodbath their path to glory.

              Stay high, Stay brutal!!
            </p>
          </div>
        </div>
      </div>
    </div>


    <!--event 3-->
    <div class="container left" data-aos="fade-right">
      <div class="content" style="background-image: linear-gradient(to top right, #da2d2d, #f6da63);">
        <div><img src="/image/asset8.png"></div>
        <h1 class="title" style="text-align: right;">Voice of Incand</h1>
        <p style="font-size: 20px; text-align: right;"><b>DATE:</b> COMING SOON! </br> <b>TIME:</b> COMING SOON! </p>
        <button id="myBtn3" class="button"> Read More...</button>
        <!-- The Modal -->
        <div id="myModal3" class="modalLeft">
          <div><img src="/image/asset8.png" class="modalicon"></div>
          <!-- Modal content -->
          <div class="modal-content">

            <span class="close" id="close3">&times;</span>
            <p class="text">As Friedrich Nietzsche had said "without music, life would be a mistake.”
              Haven’t you sung out loud to the notes of a heart-breaking Arijit masterpiece or blabbered gibberish to
              match Eminem’s fluency?Haven’t you been waiting for that one opportunity to show the world just how
              awesome a singer you could be?The affinity to music is common to all of us and to celebrate that
              recognition, we extend an invitation to sing your soul out at ‘Voice of Incand'.With the crafty concoction
              of talent and tune, this year's volume is going to leave you thrilled for more.
            </p>
          </div>
        </div>
      </div>
    </div>


    <!--event 4-->
    <div class="container right " data-aos="fade-left">
      <div class="content" style="background-image: linear-gradient(to top left, #da2d2d, #f6da63);">
        <div><img src="/image/asset26.png"></div>
        <h1 class="title" style="text-align: right;">Indie Unplugged</h1>
        <p style="font-size: 20px; text-align: right;"><b>DATE:</b> COMING SOON! </br><b>TIME:</b> COMING SOON! </p>
        <button id="myBtn4" class="button"> Read More...</button>
        <!-- The Modal -->
        <div id="myModal4" class="modalRight">
          <div><img src="/image/asset26.png" class="modalicon"></div>
          <!-- Modal content -->
          <div class="modal-content">

            <span class="close" id="close4">&times;</span>
            <p class="text">Want to experience sheer musical pleasure? If yes, Incandescence 2020 has in store exactly
              what you need. We present you the lakeside musical event of Indie Unplugged - an event like no other where
              you can groove to musical performances by some of the best talents in NIT Silchar and beyond. Previously
              graced by the likes of Tejas Menon, Dhruv Vishwanath and Prateek Kuhad, Indie Unplugged is one of the best
              events Incandescence has to offer.
              Open February skies, a magestic lakeside view, and a pleasant winter breeze accompanied by soulful musical
              notes make for a perfect ambience for a romantic night out. Get ready to immerse yourself into a magical
              evening under the stars, an evening you'll cherish forever.
            </p>
          </div>
        </div>
      </div>
    </div>


    <!--event 5-->
    <div class="container left " data-aos="fade-right">
      <div class="content" style="background-image: linear-gradient(to top right, #da2d2d, #f6da63);">
        <div><img src="/image/asset12.png"></div>
        <h1 class="title" style="text-align: right;">Natraaj</h1>
        <p style="font-size: 20px; text-align: right;"><b>DATE:</b> COMING SOON! </br> <b>TIME:</b> COMING SOON! </p>
        <button id="myBtn5" class="button"> Read More...</button>
        <!-- The Modal -->
        <div id="myModal5" class="modalLeft">
          <div><img src="/image/asset12.png" class="modalicon"></div>
          <!-- Modal content -->
          <div class="modal-content">

            <span class="close" id="close5">&times;</span>
            <p class="text">The Dance Module of Incandescence,is perfectly a treat for all dance enthusiasts across the
              campus. The stage is all set for the mouth-watering face-offs and nerve wrenching grooves. So gear up for
              one of the biggest Dance Jam , with 100+ participants from all around the Northeast.. It has been one of
              the platforms for dancing sultans like Bir Radha Sherpa, who has won three times in nataraj module of
              Incandescence. Convert your talent into your passion, come, join us in the Street Battles, Solo Showcase,
              One on One Dance Battles and lot more that is waiting for you in the NITS House!!</p>
          </div>
        </div>
      </div>
    </div>



    <!--event 6-->
    <div class="container right " data-aos="fade-left">
      <div class="content" style="background-image: linear-gradient(to top left, #da2d2d, #f6da63);">
        <div><img src="/image/asset13.png"></div>
        <h1 class="title" style="text-align: right;">Carnival of Bites</h1>
        <p style="font-size: 20px; text-align: right;"><b>DATE:</b> COMING SOON! </br> <b>TIME:</b> COMING SOON! </p>
        <button id="myBtn6" class="button"> Read More...</button>

        <!-- The Modal -->
        <div id="myModal6" class="modalRight">
          <div><img src="/image/asset13.png" class="modalicon"></div>
          <!-- Modal content -->
          <div class="modal-content">

            <span class="close" id="close6">&times;</span>
            <p class="text">A thing of beauty is a joy forever. Following the same line of thought Food also serves us
              with the same delight. Sometimes, being told not to do something just makes us want it all the more.
              Sometimes, a little of what you crave is better than total abstinence. National Institute of Technology
              Silchar welcomes you to The Carnival of Bites, where you get to not only fill your tummies with a new
              variety of cuisines but also enjoy the true Zaika of the Spring. Join us for the uncovering on the "nth"
              of February, and end all cravings</p>
          </div>

        </div>

      </div>
    </div>



    <!--event 7-->
    <div class="container left " data-aos="fade-right">
      <div class="content" style="background-image: linear-gradient(to top right, #da2d2d, #f6da63);">
        <div><img src="/image/asset16.png"></div>
        <h1 class="title" style="text-align: right;">Deprador</h1>
        <p style="font-size: 20px; text-align: right;"><b>DATE:</b> COMING SOON! </br> <b>TIME:</b> COMING SOON! </p>
        <button id="myBtn7" class="button"> Read More...</button>

        <!-- The Modal -->
        <div id="myModal7" class="modalLeft">
          <div><img src="/image/asset16.png" class="modalicon"></div>
          <!-- Modal content -->
          <div class="modal-content">

            <span class="close" id="close7">&times;</span>
            <p class="text">Words wind themselves around your limbs like spider silk, and when you are so enthralled you
              cannot move, they pierce your skin, enter your blood, numb your thoughts and inside you, they work their
              magic.Duly, brush-up your vocabulary, watch your footstep and unearth the crux of the competition, as NITS
              is back with the 12th edition of the grand debating phenomenon “Deprador”. The platform that has already
              witnessed unique intellective brains of our nation including Dr.Radhakrishnan Pillai, Sudeep Nagarkar and
              Bhavana Arora is eager to beguile us again with outstanding wizards involved.
              So, collect your shrewdness, spirit, courage and endurance and hold on as we set up the dice for the
              premier Debating competition Deprador 12.0 and accompany us on.
            </p>
          </div>

        </div>

      </div>
    </div>



    <!--event 8-->
    <div class="container right " data-aos="fade-left">
      <div class="content" style="background-image: linear-gradient(to top left, #da2d2d, #f6da63);">
        <div><img src="/image/asset15.png"></div>
        <h1 class="title" style="text-align: right;">NITSMUN</h1>
        <p style="font-size: 20px; text-align: right;"><b>DATE:</b> COMING SOON! </br> <b>TIME:</b> COMING SOON! </p>
        <button id="myBtn8" class="button"> Read More...</button>

        <!-- The Modal -->
        <div id="myModal8" class="modalRight">
          <div><img src="/image/asset15.png" class="modalicon"></div>
          <!-- Modal content -->
          <div class="modal-content">

            <span class="close" id="close8">&times;</span>
            <p class="text">Brace yourselves because the vibes on this are strong. Get ready to experience the rush
              where all stands are vital and every second is crucial.
              Always dreamt of banging the tables the way it's done in parliament? Or wanted to sort crisis or an
              improper state of the world? Fascinated by Extempore? GD? Debate? Elocution? NITSMUN sediments all of
              them! Bestow your defenses upon others to thwart their inevitable attacks.
              A three day event giving you lifetime memories and a three day experience expanding your glories. Bring
              your game out,channelize your wrath in your words. Make your opponent clueless in your polygon!
              So suit up delegates!! It’s high time to change this world.
              Take the MUN pause and immerse yourselves in the 3 day literary extravaganza!!
            </p>
          </div>

        </div>

      </div>
    </div>



    <!--event 9-->
    <div class="container left " data-aos="fade-right">
      <div class="content" style="background-image: linear-gradient(to top right, #da2d2d, #f6da63);">
        <div><img src="/image/asset24.png"></div>
        <h1 class="title" style="text-align: right;">Sokratik</h1>
        <p style="font-size: 20px; text-align: right;"><b>DATE:</b> COMING SOON! </br> <b>TIME:</b> COMING SOON! </p>
        <button id="myBtn9" class="button"> Read More...</button>

        <!-- The Modal -->
        <div id="myModal9" class="modalLeft">
          <div><img src="/image/asset24.png" class="modalicon"></div>
          <!-- Modal content -->
          <div class="modal-content">

            <span class="close" id="close9">&times;</span>
            <p class="text">Are you that kid who is constantly in a quest for knowledge and is always searching for
              answers? Ever want to face the heat of arduous, foxy and catchy questions by some of the finest
              quizmasters across the country? The wait is over cause once again, unearthing the impulse of nail-biting
              quizzing; SOKRATIK is here, the quiz module of Incandescence 2020. SOKRATIK brings you a two day long
              array of a MELA and General quiz for your knowledge savvy mind. Previously hosted by some of the eminent
              quizmasters namely Vinay Upadhyay, Abhra Das, Ashutosh Das. So guys get your quizzing hats ready cause
              it’s time to conquer NITS with your quizzing erudition and experience.</p>
          </div>

        </div>

      </div>
    </div>



    <!--event 10-->
    <div class="container right " data-aos="fade-left">
      <div class="content" style="background-image: linear-gradient(to top left, #da2d2d, #f6da63);">
        <div><img src="/image/asset7.png"></div>
        <h1 class="title" style="text-align: right;">Kavi Sammelan</h1>
        <p style="font-size: 20px; text-align: right;"><b>DATE:</b> COMING SOON! </br> <b>TIME:</b> COMING SOON! </p>
        <button id="myBtn10" class="button"> Read More...</button>

        <!-- The Modal -->
        <div id="myModal10" class="modalRight">
          <div><img src="/image/asset7.png" class="modalicon"></div>
          <!-- Modal content -->
          <div class="modal-content">

            <span class="close" id="close10">&times;</span>
            <p class="text">The stage is ready once again to add to the dazzle and enthral Incandescence with the melody
              and the rhyme of words. The painful truths of life can indeed take a beautiful turn when woven into an
              aesthetic thread of words and punctuations and delivered with the most intense conviction, that takes you
              to the journey beyond literature. Embrace the festivity and be a part of this enchanting evening. This
              stage has already witnessed the maestro Vishnu Saxena and the likes of Kumar Vishwas. Brace yourselves to
              be a part of this amazing Kavi Sammelan!! </p>
          </div>

        </div>

      </div>
    </div>



    <!--event 11-->
    <div class="container left " data-aos="fade-right">
      <div class="content" style="background-image: linear-gradient(to top right, #da2d2d, #f6da63);">
        <div><img src="/image/asset25.png"></div>
        <h1 class="title" style="text-align: right;">V-Warz</h1>
        <p style="font-size: 20px; text-align: right;"><b>DATE:</b> COMING SOON! </br> <b>TIME:</b> COMING SOON! </p>
        <button id="myBtn11" class="button"> Read More...</button>

        <!-- The Modal -->
        <div id="myModal11" class="modalLeft">
          <div><img src="/image/asset25.png" class="modalicon"></div>
          <!-- Modal content -->
          <div class="modal-content">

            <span class="close" id="close11">&times;</span>
            <p class="text">Ever thought of having your own reign with just one shot? Imagine the adrenaline rushing
              through your veins while fighting with your rivals. Do you want to be in the battle among the best gamers
              in your region? Do you want to taste the sweetest victory ? Then, Incandescence brings you the greatest
              sporting event,V-Warz where you need to show your gaming mettle while fighting with your brothers in arm .
              From PUBG to CS:GO, we’ve got all the popular ones. So,get ready to bleed bullets in your
              opponents’chests. Join hands with your allies and face the most formidable foe. Every second counts!. Come
              ,confront and show the entire world, who is the real hero of this virtual world.</p>
          </div>

        </div>

      </div>
    </div>



    <!--event 12-->
    <div class="container right " data-aos="fade-left">
      <div class="content" style="background-image: linear-gradient(to top left, #da2d2d, #f6da63);">
        <div><img src="/image/asset22.png"></div>
        <h1 class="title" style="text-align: right;">Razzmatazz</h1>
        <p style="font-size: 20px; text-align: right;"><b>DATE:</b> COMING SOON! </br> <b>TIME:</b> COMING SOON! </p>
        <button id="myBtn12" class="button"> Read More...</button>

        <!-- The Modal -->
        <div id="myModal12" class="modalRight">
          <div><img src="/image/asset22.png" class="modalicon"></div>
          <!-- Modal content -->
          <div class="modal-content">

            <span class="close" id="close12">&times;</span>
            <p class="text">We’re humans, defined and developed through our memories and experiences, and the root of
              this tree of life is our childhood, and Incandescence has never failed bring back those memories. So, NITS
              presents to you Razzmatazz ’20 – a module for school students of Barak Valley. Two days of overflowing
              liveliness, a blazing entrapment of skills and a plethora of events will test the different talents of the
              next generation and aim to bring the best in them. We care, because, we have lived that life and would
              want to live that once more. So, you’re ever welcome to be amazed!</p>
          </div>

        </div>

      </div>
    </div>



    <!--event 13-->
    <div class="container left " data-aos="fade-right">
      <div class="content" style="background-image: linear-gradient(to top right, #da2d2d, #f6da63);">
        <div><img src="/image/asset9.png"></div>
        <h1 class="title" style="text-align: right;">The Thespian Rhapsody</h1>
        <p style="font-size: 20px; text-align: right;"><b>DATE:</b> COMING SOON! </br> <b>TIME:</b> COMING SOON! </p>
        <button id="myBtn13" class="button"> Read More...</button>

        <!-- The Modal -->
        <div id="myModal13" class="modalLeft">
          <div><img src="/image/asset9.png" class="modalicon"></div>
          <!-- Modal content -->
          <div class="modal-content">

            <span class="close" id="close13">&times;</span>
            <p class="text">Emotions , expressions , characters and dedication, are all that an actor wants to convey.
              Imparting a tale to the spectators containing multiple emotions and characters by an individual identity
              is a challenge. Illustrating a chronicle within a short stretch and making the viewers hitched in it is an
              art.To have a fortune to demonstrate personal feelings , relationships , social values , humorous aspects
              or other supplemental topics, Incandescence presents you The Thespian Rhapsody, the module from the
              dramatics club. Consisting of events like Director’s Cut(the short film making competition) and
              Espimere(the mono act competition).
              So Get the cheers , Bring the reactions.
              In a count of three - Lights , Camera and Action.
            </p>
          </div>

        </div>

      </div>
    </div>



    <!--event 14-->
    <div class="container right " data-aos="fade-left">
      <div class="content" style="background-image: linear-gradient(to top left, #da2d2d, #f6da63);">
        <div><img src="/image/asset19.png"></div>
        <h1 class="title" style="text-align: right;">Prom Night</h1>
        <p style="font-size: 20px; text-align: right;"><b>DATE:</b> COMING SOON! </br> <b>TIME:</b> COMING SOON! </p>
        <button id="myBtn14" class="button"> Read More...</button>

        <!-- The Modal -->
        <div id="myModal14" class="modalRight">
          <div><img src="/image/asset19.png" class="modalicon"></div>
          <!-- Modal content -->
          <div class="modal-content">

            <span class="close" id="close14">&times;</span>
            <p class="text">Set in the chilly nights of February, under a sky full of innumerable constellations, on the
              eve of Valentine's Day, Incandescence presents the Prom Night. Suit up with your better half and enjoy an
              evening filled with enthral, sparkles, rhythm and food. Create unforgettable memories with your precious
              ones and embark on this royal journey of love, frill and lavishness brought to you by Incandescence. </p>
          </div>

        </div>

      </div>
    </div>



    <!--event 15-->
    <div class="container left " data-aos="fade-right">
      <div class="content" style="background-image: linear-gradient(to top right, #da2d2d, #f6da63);">
        <div><img src="/image/asset14.png"></div>
        <h1 class="title" style="text-align: right;">Carpedium Night</h1>
        <p style="font-size: 20px; text-align: right;"><b>DATE:</b> COMING SOON! </br> <b>TIME:</b> COMING SOON! </p>
        <button id="myBtn15" class="button"> Read More...</button>

        <!-- The Modal -->
        <div id="myModal15" class="modalLeft">
          <div><img src="/image/asset14.png" class="modalicon"></div>
          <!-- Modal content -->
          <div class="modal-content">

            <span class="close" id="close15">&times;</span>
            <p class="text">Carpe diem night replenishes the bucket of four days of energy and excitement of
              Incandescence, with even more energy and grace Carpe diem is ready to entertain you as much as all the
              programs of past 4 days out together. Witness a huge throng of people sway their heads to the beats of
              their favourite bands and artists. Get ready to cherish some of finest memories and get your new year
              kickstarted with some real fun. Lose yourself in this musical festival and explore the new version of you
              as popular names such as Papon,Prateek Kuhad, The Local Train, Monali Thakur, Spunk,Nikhil D'Souza,
              Zephyrtone and Gajendra Verma had made the crowd go crazy in the previous presentations.
            </p>
          </div>

        </div>

      </div>
    </div>


    <!--Scroll up button-->
    <a href="#top"><i class='fas fa-chevron-circle-up' id="scrollup"
        style="font-size:48px;color:#9d0b0b;margin-bottom: 20px; background: white; border-radius: 50%;"></i></a>


    <!--Footer-->
    <div class="footer">
      <h1 style="background-color: #9d0b0b; margin: -15px; padding: 15px;">
        <marquee direction="left">FOOTER</marquee>
      </h1>
    </div>
    <script type="text/javascript" src="js/eventTextAnimation.js"></script>
    <script type="text/javascript" src="js/event.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>
    <script>
      AOS.init({
        offset: 120,
        duration: 800
      });
    </script>
</body>

</html>