<!DOCTYPE html>
<html>

<head>
    <!-- add icon link -->
    <link rel="icon" href="/image/i.png" type="image/png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FAQ : Incandescence 2020</title>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheet/loader/loader.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="stylesheet/menu/menu.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="stylesheet/faqcss/faqmenu.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="stylesheet/faqcss/finalfaq.css" type="text/css">

</head>



<body scroll="no" style=" background-image: url(image/faq/bg.png);">

    <!-- loader -->
    <div id='loader'>
        <div id='mascot-baton'>
            <div id='flame' class="fire_place">
                <div class="blur_fire">
                    <div class="big_flame"></div>
                </div>
                <div class="spark spark1">I</div>
                <div class="spark spark2">n</div>
                <div class="spark spark3">c</div>
                <div class="spark spark4">a</div>
                <div class="spark spark5">n</div>
                <div class="spark spark6">d</div>
                <div class="spark spark7">e</div>
                <div class="spark spark8">s</div>
                <div class="spark spark9">c</div>
                <div class="spark spark10">e</div>
                <div class="spark spark11">n</div>
                <div class="spark spark12">c</div>
                <div class="spark spark13">e</div>
            </div>
            <img src="/image/loader/airawat-holding-torch.png" id="baton">
        </div>
    </div>

    <!-- menu -->
    <div id="menu">

        <a href='/'>
            <div id='logo'>
            </div>
        </a>

        <div id="cld1c">
            <div id="cld1">
                <p>Menu</p>
            </div>
        </div>

        <div id="cld2c">
            <div id="cld2">
            </div>
        </div>

        <div id="cld3c">
            <div id="cld3">
            </div>
        </div>

        <div id="cld4c">
            <div id="cld4">
                <a href="/event" id="link1">Events</a>
            </div>
        </div>

        <div id="cld5c">
            <div id="cld5">
                <a href="/gallery" id="link2">Gallery</a>
            </div>
        </div>

        <div id="cld6c">
            <div id="cld6">
                <a href="/brochure" id="link3">Brochure</a>
            </div>
        </div>

        <div id="cld7c">
            <div id="cld7">
                <a href="#" id="link4">Tickets</a>
            </div>
        </div>

        <div id="cld8c">
            <div id="cld8">
                <a href="/munhome" id="link5">NITS MUN</a>
            </div>
        </div>

        <div id="cld9c">
            <div id="cld9">
                <a href="http://www.razzmatazznits.com" id="link6">Razzmatazz</a>
            </div>
        </div>


        <div id="cld10c">
            <div id="cld10">
                <a href="/indieunplugged" id="link6">Indie</a>
            </div>
        </div>


        <div id="cld11c">
            <div id="cld11">
                <a href="/thundermarch" id="link6">Thundermarch</a>
            </div>
        </div>

    </div>

    <img src="/image/faq/faq.png" class="faql" width="120px">
    <img class="logog" src="/image/faq/gaurd.png" width="10%">


    <div class="cloud img-responsive"></div>
    <center>

        <div class=container>

            <div class="flip">
                <div class="front">
                    <h1 class="text-shadow">What should I do after registering myself for Incandescence?</hi>
                </div>
                <div class="back">

                    <p>Make sure you follow the official Incandescence page as well as the pages of the individual events you have registered for. For further details, you may directly get in touch with the event head/coordinator. </p>
                </div>
            </div>
            <div class="flip">
                <div class="front">
                    <h1 class="text-shadow">Is the registration free?</hi>
                </div>
                <div class="back">

                    <p>No. The registration isn't free but the amount varies with each event/competition. More information about the same will be available as soon as the registration portal opens.

                    </p>
                </div>
            </div>
            <div class="flip">
                <div class="front">
                    <h1 class="text-shadow">Will I be provided with any accommodation facilities? </hi>
                </div>
                <div class="back">

                    <p>If you have registered for an event/competition and are not a resident of Silchar, you'll be provided with accommodation facilities. </p>
                </div>
            </div>
            <div class="flip">
                <div class="front">
                    <h1 class="text-shadow">How do I reach NIT Silchar? </hi>
                </div>
                <div class="back">

                    <p>One may fly to Silchar and board a taxi/an auto or the institute bus (about which there will be a notification, if provided) and travel directly to the institute. One can also board a train to Silchar from all the major railway station
                        in India, and take an auto/a taxi directly to the institute. Silchar also has the ISBT which connects all major towns in the vicinity of Silchar.

                    </p>
                </div>
            </div><br>
            <div class="flip">
                <div class="front">
                    <h1 class="text-shadow">Should I carry some identity card proof everytime with me? </hi>
                </div>
                <div class="back">

                    <p>It is advisable to always carry an identity card with yourself while you attend the fest and its competitions and concerts. </p>
                </div>
            </div>
            <div class="flip">
                <div class="front">
                    <h1 class="text-shadow"> Is there a health-care facility, an ATM and general stores inside the campus? </hi>
                </div>
                <div class="back">

                    <p>NIT Silchar has a dispensary in the campus for minor health issues. Silchar Medical College and Hospital is also situated nearby for other health problems. Ambulance facility is accessible too. Besides, the institute is also equipped
                        with choices of general stores in the fair price shop and an SBI ATM inside the campus.

                    </p>
                </div>
            </div>
            <div class="flip">
                <div class="front">
                    <h1 class="text-shadow">How do I get to know the timings and venues of the various events in Incandescence? </hi>
                </div>
                <div class="back">

                    <p>Follow the official page of Incandescence and its modules. Information regarding the events - their timings, respective venues and prizes will be updated on these pages. Moreover, you can always get in touch with the respective module
                        heads directly. </p>
                </div>
            </div>
            <div class="flip">
                <div class="front">
                    <h1 class="text-shadow">How can I attend the Thundermarch concert? Does it require a separate registration? </hi>
                </div>
                <div class="back">

                    <p>Yes, Thundermarch does require a separate registration, the tickets for which will be made available soon via the official Incandescence and Thundermarch pages. Additionally, one may also purchase those tickets through leading enterprising
                        outlets in Silchar. Follow the aforementioned pages to not miss out on any information. </p>
                </div>
            </div>
            <div class="flip">
                <div class="front">
                    <h1 class="text-shadow">Are spot-on registrations allowed during the fest? </hi>
                </div>
                <div class="back">

                    <p>Yes, spot-on registrations and ticketing are allowed during the fest. The respective module heads will help you out with the same.

                    </p>
                </div>
            </div>
            <div class="flip">
                <div class="front">
                    <h1 class="text-shadow"> How do I register myself for a particular competition in Incandescence? </hi>
                </div>
                <div class="back">

                    <p>The Incandescence page will notify you about every module and competition. To participate, you can go through the registration links provided along with the posts or may also get in touch with the competition coordinator. </p>
                </div>
            </div>
            <div class="flip">
                <div class="front">
                    <h1 class="text-shadow"> Can I form a team with students from other colleges? </hi>
                </div>
                <div class="back">

                    <p>Yes, forming a team with students from other colleges is allowed.

                    </p>
                </div>
            </div>
            <div class="flip">
                <div class="front">
                    <h1 class="text-shadow"> Can I be a part of the organising team of Incandescence? </hi>
                </div>
                <div class="back">

                    <p>You can be a campus ambassador for our institute and thus can contribute to making Incandescence bigger and louder. To know more about the responsibilities and perks of being a campus ambassador, visit our Campus Ambassador programme
                        section. </p>
                </div>
            </div>



        </div>
    </center>
</body>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="js/menu/menu.js"></script>
<script type="text/javascript">
    window.addEventListener('load', function() {
        $(window).resize(function(e) {
            adaptMenu();
        });
        document.getElementById('loader').remove();
    });
    adaptMenu();
</script>


</html>