<html>

<head>
    <!-- add icon link -->
    <link rel="icon" href="/image/i.png" type="image/png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Incandescence Brochure Page" content="Incandescence 2020 Brochure Page | NIT Silchar">
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="stylesheet/loader/loader.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/history/historyloader.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/menu/menu.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/history/historymenu.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/history/backgroundEffect.css">
    <link rel='stylesheet' type="text/css" href='stylesheet/footer/footer.css'>
    <link rel="stylesheet" type="text/css" href="stylesheet/history/history.css">
</head>

<body>
    <!-- loader -->
    <div id='loader'>
        <div id='mascot-baton'>
            <div id='flame' class="fire_place">
                <div class="blur_fire">
                    <div class="big_flame"></div>
                </div>
                <div class="spark spark1">I</div>
                <div class="spark spark2">n</div>
                <div class="spark spark3">c</div>
                <div class="spark spark4">a</div>
                <div class="spark spark5">n</div>
                <div class="spark spark6">d</div>
                <div class="spark spark7">e</div>
                <div class="spark spark8">s</div>
                <div class="spark spark9">c</div>
                <div class="spark spark10">e</div>
                <div class="spark spark11">n</div>
                <div class="spark spark12">c</div>
                <div class="spark spark13">e</div>
            </div>
            <img src="image/loader/airawat-holding-torch.png" id="baton">
        </div>
    </div>

    <!-- menu -->
    <div id="menu">

        <a href='/'>
            <div id='logo'>
            </div>
        </a>

        <div id="cld1c">
            <div id="cld1">
                <p>Menu</p>
            </div>
        </div>

        <div id="cld2c">
            <div id="cld2">
            </div>
        </div>

        <div id="cld3c">
            <div id="cld3">
            </div>
        </div>

        <div id="cld4c">
            <div id="cld4">
                <a href="/event" id="link1">Events</a>
            </div>
        </div>

        <div id="cld5c">
            <div id="cld5">
                <a href="/gallery" id="link2">Gallery</a>
            </div>
        </div>

        <div id="cld6c">
            <div id="cld6">
                <a href="/brochure" id="link3">Brochure</a>
            </div>
        </div>

        <div id="cld7c">
            <div id="cld7">
                <a href="#" id="link4">Tickets</a>
            </div>
        </div>

        <div id="cld8c">
            <div id="cld8">
                <a href="/munhome" id="link5">NITS MUN</a>
            </div>
        </div>

        <div id="cld9c">
            <div id="cld9">
                <a href="http://www.razzmatazznits.com" id="link6">Razzmatazz</a>
            </div>
        </div>


        <div id="cld10c">
            <div id="cld10">
                <a href="/indieunplugged" id="link6">Indie</a>
            </div>
        </div>


        <div id="cld11c">
            <div id="cld11">
                <a href="/thundermarch" id="link6">Thundermarch</a>
            </div>
        </div>

    </div>


    <div id="backgroundEffect">
        <div id="layer2"></div>
        <div id="layer1"></div>
    </div>

    <div id="background"></div>
    <div class="sprite1 hathi-1">
        <div class="image image-1">
            <img src="/image/history/brochure-01.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-2">
        <div class="image image-2">
            <img src="/image/history/brochure-02.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-3">
        <div class="image image-3">
            <img src="/image/history/brochure-03.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-4">
        <div class="image image-4">
            <img src="/image/history/brochure-04.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-5">
        <div class="image image-5">
            <img src="/image/history/brochure-05.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-6">
        <div class="image image-6">
            <img src="/image/history/brochure-06.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-7">
        <div class="image image-7">
            <img src="/image/history/brochure-07.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-8">
        <div class="image image-8">
            <img src="/image/history/brochure-08.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-9">
        <div class="image image-9">
            <img src="/image/history/brochure-09.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-10">
        <div class="image image-10">
            <img src="/image/history/brochure-010.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-11">
        <div class="image image-11">
            <img src="/image/history/brochure-011.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-12">
        <div class="image image-12">
            <img src="/image/history/brochure-012.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-13">
        <div class="image image-13">
            <img src="/image/history/brochure-013.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-14">
        <div class="image image-14">
            <img src="/image/history/brochure-014.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-15">
        <div class="image image-15">
            <img src="/image/history/brochure-015.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-16">
        <div class="image image-16">
            <img src="/image/history/brochure-016.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-17">
        <div class="image image-17">
            <img src="/image/history/brochure-017.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-18">
        <div class="image image-18">
            <img src="/image/history/brochure-018.jpg">
        </div>
    </div>
    <div class='show_history'>
        <div class='sipahi'></div>
    </div>
    <footer class="footer-distributed">

        <div class="footer-left">
            <a href='/'><img src='/image/menu/logo.png' style="width: 100%;"></a>
        </div>

        <div class="footer-center">
            <h3>Quick Links</h3>
            <ul style="list-style:none;" class="footer-links">
                <li><a href="/faq">FAQ</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/reachus">Reach Us</a></li>
                <li><a href="/sponsors">Sponsors</a></li>
            </ul>
        </div>

        <div class="footer-right">
            <div class="footer-links">
                <a href="/campus">
                    <h3>Campus Ambassador</i>
                    </h3>
                </a>
            </div>
            <div class="footer-icons">
                <a href="https://www.facebook.com/incandescence.nits"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/incandnits?lang=en"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UCb_0C06vYP674tyu50o7-Fg"><i class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/incandescence.nits/"><i class="fab fa-instagram"></i></a>
                <a href="mailto:incandescencenitsilchar@gmail.com"><i class="fa fa-envelope"></i></a>
            </div>
        </div>

    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/history/history.js"></script>
    <script src="js/menu/menu.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script type="text/javascript">
        window.addEventListener('load', function() {
            $(window).resize(function(e) {
                adaptMenu();
            });
            document.getElementById('loader').remove();
        });
        adaptMenu();
    </script>
</body>

</html>