<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="stylesheet/loader/loader.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/history/historyloader.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/menu/menu.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/history/historymenu.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/history/history.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/history/backgroundEffect.css">
</head>

<body>
    <!-- loader -->
    <div id='loader'>
        <div id='mascot-baton'>
            <div id='flame' class="fire_place">
                <div class="blur_fire">
                    <div class="big_flame"></div>
                </div>
                <div class="spark spark1">I</div>
                <div class="spark spark2">n</div>
                <div class="spark spark3">c</div>
                <div class="spark spark4">a</div>
                <div class="spark spark5">n</div>
                <div class="spark spark6">d</div>
                <div class="spark spark7">e</div>
                <div class="spark spark8">s</div>
                <div class="spark spark9">c</div>
                <div class="spark spark10">e</div>
                <div class="spark spark11">n</div>
                <div class="spark spark12">c</div>
                <div class="spark spark13">e</div>
            </div>
            <img src="image/loader/airawat-holding-torch.png" id="baton">
        </div>
    </div>

    <!-- menu -->
    <div id="menu">

        <a href='/'>
            <div id='logo'>
            </div>
        </a>

        <div id="cld1c">
            <div id="cld1">
                <a href="/event" id="link1">Events</a>
            </div>
        </div>

        <div id="cld2c">
            <div id="cld2">
                <a href="/gallery" id="link2">Gallery</a>
            </div>
        </div>

        <div id="cld3c">
            <div id="cld3">
                <a href="/history" id="link3">History</a>
            </div>
        </div>

        <div id="cld4c">
            <div id="cld4">
                <a href="/campus" id="link4">CA</a>
            </div>
        </div>

        <div id="cld5c">
            <div id="cld5">
                <a href="/faq" id="link5">F.A.Q</a>
            </div>
        </div>

        <div id="cld6c">
            <div id="cld6">
                <a href="/register" id="link6">Register</a>
            </div>
        </div>

        <div id="cld7c">
            <div id="cld7">
                <p>Menu</p>
            </div>
        </div>

        <div id="cld8c">
            <div id="cld8">
            </div>
        </div>

        <div id="cld9c">
            <div id="cld9">
            </div>
        </div>

    </div>

    <div id="backgroundEffect">
        <div id="layer2"></div>
        <div id="layer1"></div>
    </div>

    <div id="background"></div>
    <div class="sprite1 hathi-1">
        <div class="image image-1">
            <img src="/image/history/brochure-01.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-2">
        <div class="image image-2">
            <img src="/image/history/brochure-02.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-3">
        <div class="image image-3">
            <img src="/image/history/brochure-03.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-4">
        <div class="image image-4">
            <img src="/image/history/brochure-04.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-5">
        <div class="image image-5">
            <img src="/image/history/brochure-05.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-6">
        <div class="image image-6">
            <img src="/image/history/brochure-06.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-7">
        <div class="image image-7">
            <img src="/image/history/brochure-07.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-8">
        <div class="image image-8">
            <img src="/image/history/brochure-08.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-9">
        <div class="image image-9">
            <img src="/image/history/brochure-09.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-10">
        <div class="image image-10">
            <img src="/image/history/brochure-010.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-11">
        <div class="image image-11">
            <img src="/image/history/brochure-011.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-12">
        <div class="image image-12">
            <img src="/image/history/brochure-012.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-13">
        <div class="image image-13">
            <img src="/image/history/brochure-013.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-14">
        <div class="image image-14">
            <img src="/image/history/brochure-014.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-15">
        <div class="image image-15">
            <img src="/image/history/brochure-015.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-16">
        <div class="image image-16">
            <img src="/image/history/brochure-016.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-17">
        <div class="image image-17">
            <img src="/image/history/brochure-017.jpg">
        </div>
    </div>
    <div class="sprite1 hathi-18">
        <div class="image image-18">
            <img src="/image/history/brochure-018.jpg">
        </div>
    </div>
    <div class='show_history'>
        <div class='sipahi'></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/history/history.js"></script>
    <script src="js/menu/menu.js"></script>
    <script type="text/javascript">
        window.addEventListener('load', function() {
            $(window).resize(function(e) {
                adaptMenu();
            });
            document.getElementById('loader').remove();
        });
        adaptMenu();
    </script>
</body>

</html>