<!DOCTYPE html>
<html lang="en">

<head>
    <title>Indie Unplugged</title>
    <meta name="Incandescence" content="Indie Unplugged is a musical event organized during Incandescence>
    <meta name=" robots " content="index, follow " />

    <!-- Required meta tags -->
    <meta charset="utf-8 ">
    <meta name="viewport " content="width=device-width, initial-scale=1, shrink-to-fit=no ">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet " href="stylesheet/indieunplugged/bootstrap.min.css ">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet " href="stylesheet/indieunplugged/font-awesome.min.css ">

    <!-- Swiper CSS -->
    <link rel="stylesheet " href="stylesheet/indieunplugged/swiper.min.css ">

    <!-- Styles -->
    <link rel="stylesheet " href="stylesheet/indieunplugged/style.css ">
    <script src="js/indieunplugged/custom.js "></script>
</head>

<body>
    <header class="site-header ">
        <div class="header-bar ">
            <div class="container-fluid ">
                <div class="row align-items-center ">
                    <div class="col-10 col-lg-2 order-lg-1 ">
                        <div class="site-branding ">
                            <div class="site-title ">
                                <a href="# "><img id="logo " src="image/music/Indie.png " alt="logo "></a>
                            </div>
                            <!-- .site-title -->
                        </div>
                        <!-- .site-branding -->
                    </div>
                    <!-- .col -->

                    <div class="col-2 col-lg-7 order-3 order-lg-2 ">
                        <nav class="site-navigation ">
                            <div class="hamburger-menu d-lg-none ">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <!-- .hamburger-menu -->

                            <ul>
                                <li><a href="https://incand.org/ " target="blank ">Home</a></li>
                                <li><a href="#about-us ">About us</a></li>
                                <li><a href="#gallery ">Gallery</a></li>
                                <li><a href="#events ">Events</a></li>
                                <li><a href="#Partners ">Partners</a></li>
                            </ul>
                        </nav>
                        <!-- .site-navigation -->
                    </div>
                    <!-- .col -->

                    <div class="col-lg-3 d-none d-lg-block order-2 order-lg-3 ">
                        <div class="buy-tickets ">
                            <a class="btn gradient-bg " target="_blank " href="https://songdew.com/opportunity/campus-idol-nit-silchar-599 ">Register</a>
                        </div>
                        <!-- .buy-tickets -->
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
            </div>
            <!-- .container-fluid -->
        </div>
        <!-- .header-bar -->

        <div class="swiper-container hero-slider ">
            <div class="swiper-wrapper ">
                <div class="swiper-slide " data-date="2018/05/01 " style="background: url( 'image/music/header-bg.jpg') no-repeat ">
                    <div class="hero-content ">
                        <div class="container ">
                            <div class="row ">
                                <div class="col flex flex-column justify-content-center ">
                                    <div class="entry-header ">



                                        <h2 class="entry-title ">INDIE <br>Unplugged</h2>
                                    </div>
                                    <!--- .entry-header -->

                                </div>
                                <!-- .col -->
                            </div>
                            <!-- .container -->
                        </div>
                        <!-- .hero-content -->
                    </div>
                    <!-- .swiper-slide -->
                </div>
                <!-- .swiper-wrapper -->


            </div>



    </header>
    <!-- .site-header -->

    <div class="homepage-info-section " id="about-us ">
        <div class="container ">
            <div class="row ">
                <div class="col-12 col-md-4 col-lg-5 ">
                    <figure>
                        <img src="image/music/guitar.png " alt="logo ">
                    </figure>
                </div>

                <div class="col-12 col-md-8 col-lg-7 ">
                    <header class="entry-header ">
                        <h2 class="entry-title ">Want to experience sheer musical pleasure?</h2>
                    </header>

                    <div class="entry-content ">
                        <p> If yes, Incandescence 2020 has in store exactly what you need. We present you the lakeside musical event of Indie Unplugged - an event like no other where you can groove to musical performances by some of the best talents in NIT
                            Silchar and beyond. Previously graced by the likes of Tejas Menon, Dhruv Vishwanath and Prateek Kuhad, Indie Unplugged is one of the best events Incandescence has to offer. Open February skies, a magestic lakeside view, and
                            a pleasant winter breeze accompanied by soulful musical notes make for a perfect ambience for a romantic night out. Get ready to immerse yourself into a magical evening under the stars, an evening you'll cherish forever.
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="homepage-featured-events ">
        <div class="container ">
            <div class="row ">
                <div class="col-12 ">
                    <div class="featured-events-wrap flex flex-wrap justify-content-between ">
                        <div class="event-content-wrap positioning-event-1 ">
                            <figure>
                                <a href="# "><img src="image/music/1.jpg " alt="1 "></a>
                            </figure>
                        </div>

                        <div class="event-content-wrap positioning-event-2 ">
                            <figure>
                                <a href="# "><img src="image/music/9.jpg " alt=" "></a>
                            </figure>
                        </div>

                        <div class="event-content-wrap positioning-event-3 ">
                            <figure>
                                <a href="# "><img src="image/music/8.jpg " alt=" "></a>
                            </figure>
                        </div>

                        <div class="event-content-wrap positioning-event-4 half ">
                            <figure>
                                <a href="# "><img src="image/music/11.jpg " alt=" "></a>
                            </figure>
                        </div>

                        <div class="event-content-wrap positioning-event-5 half ">
                            <figure>
                                <a href="# "><img src="image/music/10.jpg " alt=" "></a>
                            </figure>
                        </div>

                        <div class="event-content-wrap positioning-event-6 half ">
                            <figure>
                                <a href="# "><img src="image/music/4.jpg " alt=" "></a>
                            </figure>
                        </div>

                        <div class="event-content-wrap positioning-event-7 ">
                            <figure>
                                <a href="# "><img src="image/music/5.jpg " alt=" "></a>
                            </figure>
                        </div>

                        <div class="event-content-wrap positioning-event-8 ">
                            <figure>
                                <a href="# "><img src="image/music/6.jpg " alt="1 "></a>
                            </figure>
                        </div>

                        <div class="event-content-wrap positioning-event-9 ">
                            <figure>
                                <a href="# "><img src="image/music/7.jpg " alt=" "></a>
                            </figure>
                        </div>

                        <div class="event-content-wrap positioning-event-10 half ">
                            <figure>
                                <a href="# "><img src="image/music/2.jpg " alt=" "></a>
                            </figure>
                        </div>

                        <div class="event-content-wrap positioning-event-11 half ">
                            <figure>
                                <a href="# "><img src="image/music/3.jpg " alt=" "></a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="homepage-next-events " id="events ">
        <div class="container ">
            <div class="row ">
                <div class="next-events-section-header " style="text-align: left; ">
                    <h2 class="entry-title ">EVENTS</h2>
                    <p><span style="font-weight: bold; ">Indie Unplugged</span> , previously known as ‘Indie Lake’ is a two day acoustic jamming event that has grown in popularity, participation and footfall over the past years. Indie Unplugged is held in
                        one of the most serene and beautiful places of the NIT Silchar campus where the Indie lake beautifies the ambience. It comprises of the two events, namely ‘Voice of Incand’ and Acoustic Jam’. The footfall of last year was around
                        1500 combining both the events.
                    </p>
                    <p><span style="font-weight: bold; ">Voice of Incand</span> is a solo singing competition where participants try to hit the highest note and compete with each other for the coveted throne. The participants are given the choice of singing
                        with help of karaoke, singing while playing an instrument or being accompanied by another musician. The participant pool consists of students from our college, noted singers from the town of Silchar and other musicians from the
                        north eastern states.The singers are allowed to sing in all languages and genres. The venue becomes crowded with music lovers who come to enjoy a beautiful musical evening.</p>
                    <p><span style="font-weight: bold; ">Acoustic Jam</span> is the jamming event which takes place on the second day. It’s a group event that gives a platform for acoustic bands to showcase their talent and also get their hands on exciting
                        prizes. The instruments allowed are acoustic guitar, bass guitar without amplifier, synthesizer and Cajon. The event has witnessed many bands who have given stellar performances by performing their own composition or making covers
                        of famous and classic songs. The audience is enthralled as soon as a band starts playing an acoustic cover of their favorite rock song or a classic song that is close to the hearts of millions. The night sky and the vibrant decorations
                        add to the heavenly atmosphere.</p>
                </div>
            </div>

            <div class="row ">
                <div class="col-12 col-sm-6 col-md-6 ">
                    <div class="next-event-wrap ">

                        <header class="entry-header ">
                            <h3 class="entry-title ">Acoustic Jam</h3>

                            <div class="posted-date ">Date and Time: <span>14th Feb, 2020</span></div>
                        </header>
                        <br>
                        <figure>
                            <img src="image/music/jam.jpg " style="height: 550px; " alt="1 ">
                        </figure>
                        <header class="entry-header ">
                            <h3 class="entry-title ">RULES</h3>


                        </header>


                        <div class="entry-content " style="text-align:left; ">
                            <p>1)Acoustic Jam is a acoustic band competition.<br> 2)The competetion will take part in one phases : Finlas <br> 3) Participants will be given a time slot of 8min for finals inclusive of soundcheck. <br> 4)The groups may have
                                a minimum of 2 and a maximum of 4 members <br> 5)Only acoustic instruments will be allowed, However participants may use a digital keyboard ( but patch change will not be entertained ) Or electric bass guitar. <br> 6)No
                                external processors or pedals will be allowed . <br> 7) Organizers will not be providing any instruments , participants should bring their own instruments. <br> 8)There is no language or genre bar for the competition <br>                                9)The decision of the judges shall be final and irrevocable.
                            </p>
                        </div>

                        <footer class="entry-footer ">
                            <!-- <a href="# ">Buy Tikets</a> -->
                        </footer>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-6 ">
                    <div class="next-event-wrap ">

                        <header class="entry-header ">
                            <h3 class="entry-title ">Voice of Incand</h3>

                            <div class="posted-date ">Date and Time: <span>15th Feb, 2020</span></div>
                        </header>
                        <br>
                        <figure>
                            <img src="image/music/voice.jpg " style="height: 550px; " alt="1 ">
                        </figure>

                        <header class="entry-header ">
                            <h3 class="entry-title ">RULES</h3>


                        </header>

                        <div class="entry-content " style="text-align:left; ">
                            <p>
                                1)Voice of Incand is a solo vocals competetion. <br> 2)The competetion will take part in one phases : Finals <br> 3)The Participants selected for the finals will be given a time slot of 6 mins inclusive of sound check .<br>                                4)Participants must bring their own karaoke tracks or instruments in case they wish to accompany themselves or have someone accompany them. <br> 5)There is no language or genre bar for the competition. <br> 6)The decision
                                of the judges shall be final and irrevocable.
                            </p>
                        </div>

                        <footer class="entry-footer ">
                        </footer>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="homepage-regional-events ">
        <div class="container ">
            <div class="row ">
                <div class="col-12 ">

                    <div class="events-partners " id="Partners ">
                        <header class="entry-header ">
                            <h2 class="entry-title ">Partners</h2>
                        </header>

                        <h1 class="text-center " style=" font-size: 2em; color: white; ">Coming Soon!</h1>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer ">
        <div class="container ">
            <div class="row ">
                <div class="col-12 ">
                    <figure class="footer-logo ">
                        <a href="# "><img src="image/music/INDIE.png " alt="logo " style="height: 80px; width: 140px; "></a>
                    </figure>

                    <nav class="footer-navigation ">
                        <ul class="flex flex-wrap justify-content-center align-items-center ">
                            <li><a href="# ">Home</a></li>
                            <li><a href="#about-us ">About us</a></li>
                            <li><a href="#events ">Events</a></li>
                            <li><a href="#gallery ">Gallery</a></li>
                            <li><a href="#contact ">Contact</a></li>
                        </ul>
                    </nav>

                    <div class="footer-social ">
                        <ul class="flex flex-wrap justify-content-center align-items-center ">


                            <li><a href="https://www.instagram.com/incandescence.nits/ "><i class="fa fa-instagram "></i></a></li>
                            <li><a href="https://www.instagram.com/incandescence.nits/ "><i class="fa fa-facebook "></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="back-to-top flex justify-content-center align-items-center ">
        <span><svg viewBox="0 0 1792 1792 " xmlns="http://www.w3.org/2000/svg "><path d="M1395 1184q0 13-10 23l-50 50q-10 10-23 10t-23-10l-393-393-393 393q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l466 466q10 10 10 23z "/></svg></span>
    </div>

    <script type='text/javascript' src='js/indieunplugged/jquery.js'></script>
    <script type='text/javascript' src='js/indieunplugged/masonry.pkgd.min.js'></script>
    <script type='text/javascript' src='js/indieunplugged/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='js/indieunplugged/swiper.min.js'></script>
    <script type='text/javascript' src='js/indieunplugged/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='js/indieunplugged/circle-progress.min.js'></script>
    <script type='text/javascript' src='js/indieunplugged/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='js/indieunplugged/custom.js'></script>

</body>

</html>