<!DOCTYPE html>
<html lang="zxx" class="no-js" style=" background: linear-gradient(to bottom, #FE985A, #f5af19) ;height:2065px ;width:1600px; overflow-x: hidden; ">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/i.png" />
    <!-- Author Meta -->

    <meta name="description" content="" />
    <!-- Meta Keyword -->
    <meta name="keywords" content="" />
    <!-- meta character set -->
    <meta charset="UTF-8" />
    <!-- Site Title -->
    <meta charset="utf-8">
    <title>Reach Us</title>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:400,400i,500,700" rel="stylesheet" />
    <!--
      CSS
      =============================================
    -->

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css" />
    <link rel="stylesheet" type="text/css" href="stylesheet/reachus/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheet/reachus/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="stylesheet/loader/loader.css" />
    <link rel="stylesheet" type="text/css" href="stylesheet/menu/menu.css" />
    <link rel="stylesheet" type="text/css" href="stylesheet/reachus/main.css" />
    <link rel="stylesheet" type="text/css" href="stylesheet/reachus/reach_us.css" />
    <link rel="stylesheet" type="text/css" href="stylesheet/reachus/reach.css" />
</head>

<body style="background-image: url(/image/reachus/img/bg3.jpg) ;">



    <!-- loader -->
    <div id='loader'>
        <div id='mascot-baton'>
            <div id='flame' class="fire_place">
                <div class="blur_fire">
                    <div class="big_flame"></div>
                </div>
                <div class="spark spark1">I</div>
                <div class="spark spark2">n</div>
                <div class="spark spark3">c</div>
                <div class="spark spark4">a</div>
                <div class="spark spark5">n</div>
                <div class="spark spark6">d</div>
                <div class="spark spark7">e</div>
                <div class="spark spark8">s</div>
                <div class="spark spark9">c</div>
                <div class="spark spark10">e</div>
                <div class="spark spark11">n</div>
                <div class="spark spark12">c</div>
                <div class="spark spark13">e</div>
            </div>
            <img src="image/loader/airawat-holding-torch.png" id="baton">
        </div>
    </div>

    <!-- menu -->
    <div id="menu">

        <a href='/'>
            <div id='logo'>
            </div>
        </a>

        <div id="cld1c">
            <div id="cld1">
                <a href="/event" id="link1">Events</a>
            </div>
        </div>

        <div id="cld2c">
            <div id="cld2">
                <a href="/gallery" id="link2">Gallery</a>
            </div>
        </div>

        <div id="cld3c">
            <div id="cld3">
                <a href="/history" id="link3">History</a>
            </div>
        </div>

        <div id="cld4c">
            <div id="cld4">
                <a href="/reachus" id="link4">Reach Us</a>
            </div>
        </div>

        <div id="cld5c">
            <div id="cld5">
                <a href="/faq" id="link5">F.A.Q</a>
            </div>
        </div>

        <div id="cld6c">
            <div id="cld6">
                <a href="/register" id="link6">Register</a>
            </div>
        </div>

        <div id="cld7c">
            <div id="cld7">
                <p>Menu</p>
            </div>
        </div>

        <div id="cld8c">
            <div id="cld8">
            </div>
        </div>

        <div id="cld9c">
            <div id="cld9">
            </div>
        </div>

    </div>



    <div style=" background:linear-gradient(to bottom, #FE985A, #FF2061) ;height:2065px ;width:1600px;
position: absolute; top: 700px; z-index: -1;"></div>
    <div id="road"></div>


    <!-- ================ Start Header Area ================= -->





    <!-- ================ End Header Area ================= -->

    <!-- ================ start banner Area ================= -->
    <section class="banner-area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 banner-right">


                    <h1>
                        <span> R </span>
                        <span> e </span>
                        <span> a </span>
                        <span> c </span>
                        <span> h </span>
                        <span> &nbsp;</span>
                        <span> U </span>
                        <span> s</span>
                    </h1>


                    <p class="mx-auto text-white  mt-20 mb-40">
                        Welcome to the Royal Indian Carnival.
                    </p>
                    <div class="link-nav">
                        <span class="box">
							<a href="#">Home </a>
							<i class="lnr lnr-arrow-right"></i>
							<a href="#">Contacts</a>
						</span>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ================ End banner Area ================= -->
    <!-- ================ ROAD TO INCAND  Area ================= -->

    <!-- partial:index.partial.html -->
    <div class="wire" style="
	position: absolute;
	top: 800px;
	left: 500px;
  height: 200px;
  width: 3px;
  
  background-color: black;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-animation: swing ease-in-out 2.5s infinite;
          animation: swing ease-in-out 2.5s infinite;
"></div>




    <p id="pin" style="  
	background-image: url(/image/reachus/img/pin2.png);
	background-size: contain;
	background-repeat: no-repeat;
	transform: rotateY(180deg);
	height: 100px;
	width: 100px;
	position: absolute;
	top: 710px;
	left: 433px;"></p>


    <div class="board" style="	
position: absolute;
	top: 1000px;
	left: 250px;
  background-image: url(/image/reachus/img/board.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;

  /*display: block;*/
  font-variant:small-caps;
 
  padding: 1em 2.5em;
 /* box-shadow: 0 2px 15px #555;*/
 
  color: white;

  font-size: 3.5em;
  -webkit-transform-origin: 50% -200px;
          transform-origin: 50% -200px;
  margin: 0 auto;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-animation: swing ease-in-out 2.5s infinite;
          animation: swing ease-in-out 2.5s infinite;
">

        <p id="rod">Road <br><br></p>
        <p id="to">To &nbsp; --> <br><br></p>
        <p id="ind">Incandescence</p>
    </div>
    <!-- ================ END ROAD TO INCAND  Area ================= -->


    <!-- ================ Start contact-page Area  ================= -->
    <section class="contact-page-area section-gap">

        <div class="row" style="margin-bottom: 0px;margin-top: 700px">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12447.812559505042!2d92.78105362853823!3d24.75820761849005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x374e49dcb63bae9b%3A0x81efa836714a289b!2sNational%20Institute%20Of%20Technology%2C%20Silchar%2C%20Assam!5e0!3m2!1sen!2sin!4v1577280295747!5m2!1sen!2sin"
                width="100%" height="700" frameborder="0" style="border:0;" allowfullscreen=""></iframe>



        </div>

    </section>
    <!-- ================ End contact-page Area ================= -->

    <!-- ================ start footer Area ================= -->
    <!-- <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">

                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4> Links</h4>
                    <ul>
                        <li><a href="#">QWE</a></li>
                        <li><a href="#">QWE</a></li>
                        <li><a href="#">QWE</a></li>
                        <li><a href="#">QWE</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Star Attractions</h4>
                    <ul>
                        <li><a href="#">XYZ</a></li>
                        <li><a href="#">XYZ</a></li>
                        <li><a href="#">XYZ</a></li>
                        <li><a href="#">XYZ</a></li>
                    </ul>
                </div>


            </div>
            <div class="footer-bottom row align-items-center">
                <p class="footer-text m-0 col-lg-8 col-md-12" style="color: black">

                    &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All Rights Reserved | Incandescence
                </p>
                <div class="col-lg-4 col-md-12 footer-social">
                    <img src="img/fbb.png">

                </div>
            </div>
        </div>
    </footer> -->
    <!-- ================ End footer Area ================= -->
    <!-- ================reachus html====================== -->
    <div id="carj"></div>
    <div id="pc">
        <div id="plane"></div>
    </div>
    <div id="sign1j">Reach <br> Via road<br> distance=10km<br>Cab fee=Rs200</div>
    <div id="sign2">Reach <br> Via flight</div>
    <div id="sign22">Nearest airport= <br>Silchar Airport<br> distance = 35km<br> cab fees=Rs700-750 </div>
    <div id="sign23">Silchar Airport</div>
    <div id="sign24">Distance->35 km <br> Cab Fare = Rs 900</div>
    <div id="trainj"></div>
    <div id="sign3">Reach Via train <br><br> distance=9km <br><br>cab fee=Rs200 </div>
    <div id="station"></div>




    <script src="js/reachus/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/reachus/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="js/reachus/jquery.sticky.js"></script>
    <script src="js/reachus/reach.js"></script>
    <script src="js/reachus/main.js"></script>
    <script src="js/menu/menu.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(window).resize(function(e) {
                adaptMenu();
            });
            document.getElementById('loader').remove();
        });
        adaptMenu();
    </script>
</body>

</html>