<!DOCTYPE html>
<html>

<head>
    <title>Team Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheet/loader/loader.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/team/team.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/menu/menu.css">
    <link rel="stylesheet" type="text/css" href="stylesheet/event/eventmenu.css">
</head>

<body>

    <div id='loader'>
        <div id='mascot-baton'>
            <div id='flame' class="fire_place">
                <div class="blur_fire">
                    <div class="big_flame"></div>
                </div>
                <div class="spark spark1">i</div>
                <div class="spark spark2">n</div>
                <div class="spark spark3">c</div>
                <div class="spark spark4">a</div>
                <div class="spark spark5">n</div>
                <div class="spark spark6">d</div>
                <div class="spark spark7">e</div>
                <div class="spark spark8">s</div>
                <div class="spark spark9">c</div>
                <div class="spark spark10">e</div>
                <div class="spark spark11">n</div>
                <div class="spark spark12">c</div>
                <div class="spark spark13">e</div>
            </div>
            <img src="image/loader/airawat-holding-torch.png" id="baton">
        </div>
    </div>


    <!-- menu -->
    <div id="menu">

        <a href='/'>
            <div id='logo'>
            </div>
        </a>

        <div id="cld1c">
            <div id="cld1">
                <a href="/event" id="link1">Events</a>
            </div>
        </div>

        <div id="cld2c">
            <div id="cld2">
                <a href="/gallery" id="link2">Gallery</a>
            </div>
        </div>

        <div id="cld3c">
            <div id="cld3">
                <a href="/brochure" id="link3">Brochure</a>
            </div>
        </div>

        <div id="cld4c">
            <div id="cld4">
                <a href="/register" id="link4">Tickets</a>
            </div>
        </div>

        <div id="cld5c">
            <div id="cld5">
                <a href="/munhome" id="link5">NITS MUN</a>
            </div>
        </div>

        <div id="cld6c">
            <div id="cld6">
                <a href="http://www.razzmatazznits.com" id="link6">Razzmatazz</a>
            </div>
        </div>

        <div id="cld7c">
            <div id="cld7">
                <p>Menu</p>
            </div>
        </div>

        <div id="cld8c">
            <div id="cld8">
            </div>
        </div>

        <div id="cld9c">
            <div id="cld9">
            </div>
        </div>

    </div>

    <div class="team">
        <p class="circle15" style="background-color: aqua; position: absolute; top:12vw; left: 10vw;"> </p>
        <p class="circle33" style="background-color: aqua; position: absolute; top:17vw; left: 25vw;"> </p>
        <p class="circle20" style="background-color: aqua; position: absolute; top:7vw; left: 55vw;"> </p>
        <p class="circle15" style="background-color: aqua; position: absolute; top:32vw; left: 60vw;"> </p>
        <p class="circle30" style="background-color: aqua; position: absolute; top:57vw; left: 57vw;"> </p>
        <p class="circle30" style="background-color: aqua; position: absolute; top:82vw; left: 35vw;"> </p>
        <p class="circle10" style="background-color: aqua; position: absolute; top:38vw; left: 10vw;"> </p>
        <p class="circle12" style="background-color: aqua; position: absolute; top:50vw; left: 45vw;"> </p>
        <p class="circle15" style="background-color: aqua; position: absolute; top:49vw; left: 20vw;"> </p>
        <p class="circle10" style="background-color: aqua; position: absolute; top:88vw; left: 70vw;"> </p>
        <p class="circle12" style="background-color: aqua; position: absolute; top:99vw; left: 65vw;"> </p>
        <p class="circle14" style="background-color: aqua; position: absolute; top:110vw; left: 55vw;"> </p>
        <p class="circle15" style="background-color: aqua; position: absolute; top:102vw; left: 22vw;"> </p>
        <p class="circle18" style="background-color: aqua; position: absolute; top:113vw; left: 35vw;"> </p>
        <p class="circle33" style="background-color: aqua; position: absolute; top:120vw; left: 4vw;"> </p>
        <p class="circle33" style="background-color: aqua; position: absolute; top:120vw; left: 62vw;"> </p>
        <p class="circle10" style="background-color: aqua; position: absolute; top:135vw; left: 46vw;"> </p>
        <p class="circle15" style="background-color: aqua; position: absolute; top:148vw; left: 45vw;"> </p>
        <p class="circle33" style="background-color: aqua; position: absolute; top:165vw; left: 40vw;"> </p>
        <p class="circle12" style="background-color: aqua; position: absolute; top:164vw; left: 29vw;"> </p>
        <p class="circle14" style="background-color: aqua; position: absolute; top:180vw; left: 25vw;"> </p>
        <p class="circle11" style="background-color: aqua; position: absolute; top:162vw; left: 70vw;"> </p>
        <p class="circle13" style="background-color: aqua; position: absolute; top:173vw; left: 75vw;"> </p>
        <p class="circle15" style="background-color: aqua; position: absolute; top:197vw; left: 37vw;"> </p>
        <p class="circle17" style="background-color: aqua; position: absolute; top:191vw; left: 70vw;"> </p>
        <p class="circle20" style="background-color: aqua; position: absolute; top:204vw; left: 53vw;"> </p>


    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/menu/menu.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(window).resize(function(e) {
                adaptMenu();
            });
            adaptMenu();
            document.getElementById('loader').remove();
        });
    </script>
</body>

</html>