<!DOCTYPE html>
<html>
<head>
	<title>Team Page</title>
	<link rel="stylesheet" type="text/css" href="stylesheet/team/team.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
	<div class="row modif">

		<!-- ==================== navbar ====================== -->
		<div class="col-3 ">	
			<!-- ==== circle === -->		
			<div id="Awesome" class="anim750">				
			  <div class="reveal circle_wrapper">
					<div class="circle">Chief Patron</div>
				</div>									
				<div class="sticky anim750">
					<div class="front circle_wrapper anim750">
						<div class="circle anim750"></div>
				  </div>
				</div>				
			  <h4>Chief Patron</h4>									
			  <div class="sticky anim750">
					<div class="back circle_wrapper anim750">
						<div class="circle anim750"></div>
					</div>
				</div>									
			</div>
			<!-- ==== circle === -->		
			<div id="Awesome" class="anim750">				
			  <div class="reveal circle_wrapper">
					<div class="circle">Patron</div>
				</div>									
				<div class="sticky anim750">
					<div class="front circle_wrapper anim750">
						<div class="circle anim750"></div>
				  </div>
				</div>				
			  <h4>Patron</h4>									
			  <div class="sticky anim750">
					<div class="back circle_wrapper anim750">
						<div class="circle anim750"></div>
					</div>
				</div>									
			</div>
			<!-- ==== circle === -->		
			<div id="Awesome" class="anim750">				
			  <div class="reveal circle_wrapper">
					<div class="circle">Convenor</div>
				</div>									
				<div class="sticky anim750">
					<div class="front circle_wrapper anim750">
						<div class="circle anim750"></div>
				  </div>
				</div>				
			  <h4>Convernor</h4>									
			  <div class="sticky anim750">
					<div class="back circle_wrapper anim750">
						<div class="circle anim750"></div>
					</div>
				</div>									
			</div>
			<!-- ==== circle === -->		
			<div id="Awesome" class="anim750 ">				
			  <div class="reveal circle_wrapper">
					<div class="circle">Chief Co-ordinator</div>
				</div>									
				<div class="sticky anim750">
					<div class="front circle_wrapper anim750">
						<div class="circle anim750"></div>
				  </div>
				</div>				
			  <h4>Chief Co-</h4>									
			  <div class="sticky anim750">
					<div class="back circle_wrapper anim750">
						<div class="circle anim750"></div>
					</div>
				</div>									
			</div>
			<!-- ==== circle === -->		
			<div id="Awesome" class="anim750 ">				
			  <div class="reveal circle_wrapper">
					<div class="circle">Executive Head</div>
				</div>									
				<div class="sticky anim750">
					<div class="front circle_wrapper anim750">
						<div class="circle anim750"></div>
				  </div>
				</div>				
			  <h4>Executive</h4>									
			  <div class="sticky anim750">
					<div class="back circle_wrapper anim750">
						<div class="circle anim750"></div>
					</div>
				</div>									
			</div>
			<!-- ==== circle === -->		
			<div id="Awesome" class="anim750 ">				
			  <div class="reveal circle_wrapper">
					<div class="circle">Management Head</div>
				</div>									
				<div class="sticky anim750">
					<div class="front circle_wrapper anim750">
						<div class="circle anim750"></div>
				  </div>
				</div>				
			  <h4>Management</h4>									
			  <div class="sticky anim750">
					<div class="back circle_wrapper anim750">
						<div class="circle anim750"></div>
					</div>
				</div>									
			</div>
			<!-- ==== circle === -->		
			<div id="Awesome" class="anim750 ">				
			  <div class="reveal circle_wrapper">
					<div class="circle">Technical Head</div>
				</div>									
				<div class="sticky anim750">
					<div class="front circle_wrapper anim750">
						<div class="circle anim750"></div>
				  </div>
				</div>				
			  <h4>Technical</h4>									
			  <div class="sticky anim750">
					<div class="back circle_wrapper anim750">
						<div class="circle anim750"></div>
					</div>
				</div>									
			</div>
			<!-- ==== circle === -->		
			<div id="Awesome" class="anim750 ">				
			  <div class="reveal circle_wrapper">
					<div class="circle">Web Developers</div>
				</div>									
				<div class="sticky anim750">
					<div class="front circle_wrapper anim750">
						<div class="circle anim750"></div>
				  </div>
				</div>				
			  <h4>Web </h4>									
			  <div class="sticky anim750">
					<div class="back circle_wrapper anim750">
						<div class="circle anim750"></div>
					</div>
				</div>									
			</div>
			<!-- ==== circle === -->		
			<div id="Awesome" class="anim750 ">				
			  <div class="reveal circle_wrapper">
					<div class="circle">Design</div>
				</div>									
				<div class="sticky anim750">
					<div class="front circle_wrapper anim750">
						<div class="circle anim750"></div>
				  </div>
				</div>				
			  <h4>Design</h4>									
			  <div class="sticky anim750">
					<div class="back circle_wrapper anim750">
						<div class="circle anim750"></div>
					</div>
				</div>									
			</div>
			<!-- ==== circle === -->		
			<div id="Awesome" class="anim750 ">				
			  <div class="reveal circle_wrapper">
					<div class="circle">Publicity</div>
				</div>									
				<div class="sticky anim750">
					<div class="front circle_wrapper anim750">
						<div class="circle anim750"></div>
				  </div>
				</div>				
			  <h4>Publicity</h4>									
			  <div class="sticky anim750">
					<div class="back circle_wrapper anim750">
						<div class="circle anim750"></div>
					</div>
				</div>									
			</div>
			<!-- ==== circle === -->		
			<div id="Awesome" class="anim750 ">				
			  <div class="reveal circle_wrapper">
					<div class="circle">PR</div>
				</div>									
				<div class="sticky anim750">
					<div class="front circle_wrapper anim750">
						<div class="circle anim750"></div>
				  </div>
				</div>				
			  <h4>PR</h4>									
			  <div class="sticky anim750">
					<div class="back circle_wrapper anim750">
						<div class="circle anim750"></div>
					</div>
				</div>									
			</div>
			<!-- ==== circle === -->		
			<div id="Awesome" class="anim750 ">				
			  <div class="reveal circle_wrapper">
					<div class="circle">Marketing</div>
				</div>									
				<div class="sticky anim750">
					<div class="front circle_wrapper anim750">
						<div class="circle anim750"></div>
				  </div>
				</div>				
			  <h4>Marketing</h4>									
			  <div class="sticky anim750">
					<div class="back circle_wrapper anim750">
						<div class="circle anim750"></div>
					</div>
				</div>									
			</div>


		</div>


		<!-- =================== profile ======================= -->
		<div class="col-9 fillcomplete" style="border: 1px solid black;">
			<div class="row fillcomplete">
				
				<div class="profile1" style="margin: auto">
					<!-- carousals -->
					<div class="a0 popout" >
						<div id="carouselExampleControls" style="width: 400px;"class="carousel slide " data-ride="carousel">
						  <div class="carousel-inner" >
						    <div class="carousel-item active">
						      <img class="d-block w-100" src="image/team/prakash_jha.jpg" alt="First slide">
						      
						      <div class="carousel-caption d-none d-md-block">
							    <h5>Prakash Jha</h5>
							    <p>Web Developer</p>
							    <a  href="https://m.facebook.com/prakash.7661"><i id="fb" class="fa fa-facebook-square" aria-hidden="true"></i></a>
							    <a  href="https://www.linkedin.com/in/prakash-jha-forgotter"><i id="ln" class="fa fa-linkedin-square" aria-hidden="true"></i></a>
							  </div>							 
						    </div>

						    <div class="carousel-item">
						      <img class="d-block w-100" src="image/team/tarun_singhania.jpeg" alt="First slide">
							    <div class="carousel-caption d-none d-md-block">
								    <h5>Tarun Sighania</h5>
								    <p>Web Developer</p>
								    <a  href="https://www.facebook.com/TARUNSINGHANIA1998"><i id="fb" class="fa fa-facebook-square" aria-hidden="true"></i></a>
								    <a  href="https://www.linkedin.com/in/tarunsinghania/"><i id="ln" class="fa fa-linkedin-square" aria-hidden="true"></i></a>
								  </div>							 
							    </div>

						    <div class="carousel-item">
						      <img class="d-block w-100" src="image/team/puja_jain.jpg" alt="First slide">
							    <div class="carousel-caption d-none d-md-block">
								    <h5>Puja Jain</h5>
								    <p>Web Developer</p>
								    <a  href="https://www.facebook.com/puja.jain.98478"><i id="fb" class="fa fa-facebook-square" aria-hidden="true"></i></a>
								    <a  href="https://www.linkedin.com/in/puja-jain-16682b142/"><i id="ln" class="fa fa-linkedin-square" aria-hidden="true"></i></a>
								  </div>							 
							    </div>

						    <div class="carousel-item">
						      <img class="d-block w-100" src="image/team/abhinash.jpg" alt="First slide">
							    <div class="carousel-caption d-none d-md-block">
								    <h5>Abhinash Dutta</h5>
								    <p>Web Developer</p>
								    <a  href="https://www.facebook.com/abinash.kashyap.96"><i id="fb" class="fa fa-facebook-square" aria-hidden="true"></i></a>
								    <a  href=""><i id="ln" class="fa fa-linkedin-square" aria-hidden="true"></i></a>
								  </div>							 
							    </div>

						    <div class="carousel-item">
						      <img class="d-block w-100" src="image/team/abhisek.jpg" alt="First slide">
							    <div class="carousel-caption d-none d-md-block">
								    <h5>Abhisek Ray</h5>
								    <p>Web Developer</p>
								    <a  href=" https://www.facebook.com/abhisek.ray.925"><i id="fb" class="fa fa-facebook-square" aria-hidden="true"></i></a>
								    <a  href="https://www.linkedin.com/in/abhisek-ray"><i id="ln" class="fa fa-linkedin-square" aria-hidden="true"></i></a>
								  </div>							 
							    </div>

						    <div class="carousel-item">
						      <img class="d-block w-100" src="image/team/rajeev_saha.jpg" alt="First slide">
							    <div class="carousel-caption d-none d-md-block">
								    <h5>Rajib Saha</h5>
								    <p>Web Developer</p>
								    <a  href="https://www.facebook.com/rajeev.saha.3192"><i id="fb" class="fa fa-facebook-square" aria-hidden="true"></i></a>
								    <a  href="https://www.linkedin.com/in/rajib-saha-b2a7b1161"><i id="ln" class="fa fa-linkedin-square" aria-hidden="true"></i></a>
								  </div>							 
							    </div>

						    <div class="carousel-item">
						      <img class="d-block w-100" src="image/team/nabanita.jpeg" alt="First slide">
							    <div class="carousel-caption d-none d-md-block">
								    <h5>Nabanita Bania</h5>
								    <p>Web Developer</p>
								    <a  href="https://m.facebook.com/payal.bania.35"><i id="fb" class="fa fa-facebook-square" aria-hidden="true"></i></a>
								    <a  href="https://www.instagram.com/nabanitabania78/"><i id="ln" class="fa fa-linkedin-square" aria-hidden="true"></i></a>
								  </div>							 
							    </div>

						    <div class="carousel-item">
						      <img class="d-block w-100" src="image/team/anuva.jpg" alt="First slide">
							    <div class="carousel-caption d-none d-md-block">
								    <h5>Anuva Bhattacharjee</h5>
								    <p>Web Developer</p>
								    <a  href="https://m.facebook.com/anuva.bhattacharjee.37"><i id="fb" class="fa fa-facebook-square" aria-hidden="true"></i></a>
								    <a  href="https://www.linkedin.com/in/anuva-bhattacharjee-2923b5170"><i id="ln" class="fa fa-linkedin-square" aria-hidden="true"></i></a>
								  </div>							 
							    </div>

						    <div class="carousel-item">
						      <img class="d-block w-100" src="image/team/Suvrajeet.jpg" alt="First slide">
							    <div class="carousel-caption d-none d-md-block">
								    <h5>Suvrajeet Kumar</h5>
								    <p>Web Developer</p>
								    <a  href="https://www.facebook.com/suvrajeet.kumar"><i id="fb" class="fa fa-facebook-square" aria-hidden="true"></i></a>
								    <a  href="https://www.linkedin.com/in/suvrajeet-kumar-9079b5191"><i id="ln" class="fa fa-linkedin-square" aria-hidden="true"></i></a>
								  </div>							 
							    </div>

						    <div class="carousel-item">
						      <img class="d-block w-100" src="image/team/rahul_kumar_gupta.jpg" alt="First slide">
							    <div class="carousel-caption d-none d-md-block">
								    <h5>Rahul Kumar Gupta</h5>
								    <p>Web Developer</p>
								    <a  href=""><i id="fb" class="fa fa-facebook-square" aria-hidden="true"></i></a>
								    <a  href=""><i id="ln" class="fa fa-linkedin-square" aria-hidden="true"></i></a>
								  </div>							 
							    </div>

						    <div class="carousel-item">
						      <img class="d-block w-100" src="image/team/aditya_singh.jpg" alt="First slide">
							    <div class="carousel-caption d-none d-md-block">
								    <h5>Aditya Singh Sisodiya</h5>
								    <p>Web Developer</p>
								    <a  href="https://www.facebook.com/profile.php?id=100008283554587"><i id="fb" class="fa fa-facebook-square" aria-hidden="true"></i></a>
								    <a  href="https://www.linkedin.com/in/rahul-kumar-gupta-092663176"><i id="ln" class="fa fa-linkedin-square" aria-hidden="true"></i></a>
								  </div>							 
							    </div>

						    <div class="carousel-item">
						      <img class="d-block w-100" src="image/team/mrinmoy_mondal.jpg" alt="First slide">
							    <div class="carousel-caption d-none d-md-block">
								    <h5>Mrinmoy Mondal</h5>
								    <p>Web Developer</p>
								    <a  href=""><i id="fb" class="fa fa-facebook-square" aria-hidden="true"></i></a>
								    <a  href=""><i id="ln" class="fa fa-linkedin-square" aria-hidden="true"></i></a>
								  </div>							 
							    </div>

						    <div class="carousel-item">
						      <img class="d-block w-100" src="image/team/kartik_verma.jpg" alt="First slide">
							    <div class="carousel-caption d-none d-md-block">
								    <h5>Kartik Verma</h5>
								    <p>Web Developer</p>
								    <a  href="mrino.mo"><i id="fb" class="fa fa-facebook-square" aria-hidden="true"></i></a>
								    <a  href=""><i id="ln" class="fa fa-linkedin-square" aria-hidden="true"></i></a>
								  </div>							 
							    </div>
						    
						  </div>
						  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" >
						    <span class="carousel-control-prev-icon" style="background-color: black;" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
						    <span class="carousel-control-next-icon" style="background-color: black;" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>
						</div>

					
					<!-- dummy -->
					<div class="one popout" id="1">
						<div class="row" style="margin-left:0px;margin-right:0px;">
							<div class="col text-center" >
								<img id="img1" src=""><br><br>
								<div class="social-icons text-center right">
			                        <a id="fb1" href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
			                    </div>
			                    <div class="social-icons text-center left">
			                        <a id="ln1" href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
			                    </div>
								<h3 id="des1" class="designation"></h3>
							</div>
						</div>
					</div>
					<div class="two popout" id="2">
							<div class="row" style="margin-left:0px;margin-right:0px;" >
								<div class="col-6 text-center">
									<img id="img21" src=""><br><br>
									<div class="social-icons text-center right">
				                        <a id="fb21" href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
				                    </div>
				                    <div class="social-icons text-center left">
				                        <a id="ln21" href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
				                    </div>
									<h3 id="des21" class="designation"></h3>

								</div>
								<div class="col-6 text-center">
									<img id="img22" src=""><br><br>
									<div class="social-icons text-center right">
				                        <a id="fb22" href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
				                    </div>
				                    <div class="social-icons text-center left">
				                        <a id="ln22" href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
				                    </div>
									<h3 id="des22" class="designation"></h3>
								</div>
							</div>
						</div>				

			</div>
				
		</div>
	</div>	

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript">
		
		$(document).ready(()=>{
			$('.profile1').children().hide();

			var data =[
				{
					img:"image/team/sivaji.jpg",
					designation:"Prof. Sivaji Bandyopadhyay,<br> Director,NIT Silchar",
					fb:"https://www.facebook.com/director.nitsilchar/",
					ln:""
				},
				{
					img:"image/team/rdmishra.jpg",
					designation:"Prof. Rahul Dev Misra <br>Dean SW, NIT Silchar",
					fb:"https://www.facebook.com/rahul.misra.12532",
					ln:""
				},
				{
					img:"image/team/ashish.jpg",
					designation:"Ashish Ranjan <br> Vice President, GUB 2019-20",
					fb:"https://www.facebook.com/whyisashish",
					ln:""
				},
				{
					img:"image/team/dupal.jpg",
					designation:"Dupal Jit Das <br> General Secretary, GUB 2019-20",
					fb:"https://www.facebook.com/dupal.jit",
					ln:""
				},
				{
					img:"image/team/sarvagya.jpg",
					designation:"Sarvagya Saxena <br> General Secretary Cultural <br> GUB 2019-20",
					fb:"https://www.facebook.com/sarvagya.saxena.18",
					ln:""
				},
				{
					img:"",
					designation:"",
					fb:"",
					ln:""
				},
				{
					img:"",
					designation:"",
					fb:"",
					ln:""
				},
				{
					img:"",
					designation:"",
					fb:"",
					ln:""
				},
				{
					img:"",
					designation:"",
					fb:"",
					ln:""
				},

			]

			$('.col-3').children('#Awesome').click(function() {
			     var index = $(this).index();
			     $('.profile1').children().hide();

			     if(index==0){
			     	$('#des1').html(data[0].designation)
				     $('#img1').attr("src", data[0].img);
				     $('#fb1').attr("href", data[0].fb);
				     $('#ln1').attr("href", data[0].ln);

				     $('#1').show()
			     }
			     else if(index==1){
			     	$('#des1').html(data[1].designation)
				     $('#img1').attr("src", data[1].img);
				     $('#fb1').attr("href", data[1].fb);
				     $('#ln1').attr("href", data[1].ln);

				     $('#1').show()
			     }
			     else if(index==2){
			     	$('#des21').html(data[2].designation)
				     $('#img21').attr("src", data[2].img);
				     $('#fb21').attr("href", data[2].fb);
				     $('#ln21').attr("href", data[2].ln);

				     $('#des22').html(data[3].designation)
				     $('#img22').attr("src", data[3].img);
				     $('#fb22').attr("href", data[3].fb);
				     $('#ln22').attr("href", data[3].ln);

				      $('#2').show()

			     }
			      else if(index==3){
			     	$('#des1').html(data[4].designation)
				     $('#img1').attr("src", data[4].img);
				     $('#fb1').attr("href", data[4].fb);
				     $('#ln1').attr("href", data[4].ln);

				     $('#1').show()
			     }
			     else if(index==7){
			     	$('.a0').show()
			     }

			     

			    
			});
		})
	</script>	
</body>
</html>