<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description">
    <meta name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thundermarch | 2020</title>
    <meta name="Thundermarch" content="Thundermarch is a music metal performance organized as a part of Incandescence">
    <meta name="robots" content="index, follow" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="stylesheet/thundermarch/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="stylesheet/thundermarch/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="stylesheet/thundermarch/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="stylesheet/thundermarch/nice-select.css" type="text/css">
    <link rel="stylesheet" href="stylesheet/thundermarch/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="stylesheet/thundermarch/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="stylesheet/thundermarch/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="stylesheet/thundermarch/style.css" type="text/css">
    <link rel="stylesheet" href="stylesheet/thundermarch/index.css" type="text/css">

</head>

<body style="background-color: #030303;">

    <div class="logoincand">
        <a href="/">
            <img src="image/music/wlg.png" alt="">
        </a>
    </div>



    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">

            <div class="logo">
                <a href="">
                    <img src="image/music/logo.jpg" alt="" style="width: 15%;">
                </a>
            </div>

            <div class="container">
                <div class="nav-menu">
                    <nav class="mainmenu mobile-menu">
                        <ul>
                            <li class="active"><a href="">Home</a></li>
                            <!-- <li><a href="./gallery.html">Incandescence</a></li> -->
                            <li><a href="/thundermarch/battleofthebands">Battle of Band</a></li>

                            <li><a href="/thundermarch/aboutus">About Us</a></li>


                        </ul>
                    </nav>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-item set-bg" data-setbg="image/music/hero-slider/hero-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-text">
                                <!-- <img src="./image/music/thundermarchlogo.png" height="20%" width="20vw"> -->
                                <center>
                                    <h2> <img src="image/music/thnlg.png" style="height: 35%;width: 35%;border-radius: 100%;"></h2>
                                </center>

                                <h1>STAY HIGH, STAY BRUTAL</h1>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-item set-bg" data-setbg="image/music/hero-slider/hero-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-text">
                                <h2>70,000 Watts of Music</h2>
                                <h1>Annual rockfest of NIT Silchar</h1>
                                <!-- <a href="#" class="primary-btn">Read More</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-item set-bg" data-setbg="image/music/hero-slider/hero-3.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-text">
                                <h2>Are you ready ?</h2>
                                <h1>So let the beats drop !</h1>
                                <!-- <a href="#" class="primary-btn">Read More</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- About Section Begin -->
    <section class="home-about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <h2>HEAD-LINERS</h2>

                        <p class="long-details" style="font-size: x-large;">Coming up!!!</p>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="image/music/aaa.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="image/music/aaa.jpg">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text">
                        <h2 style="margin-left:7vw;">Co-HeadLiners</h2>
                        <!-- <p class="short-details">CrossFit is a cutting-edge functional fitness system that can help everyday men.</p> -->
                        <p class="long-details" style="font-size: x-large;margin-left:7.2vw;">Coming up!!!</p>
                        <!-- <a href="#" class="primary-btn about-btn">Learn More</a> -->
                    </div>
                </div>

            </div>
        </div>
    </section>
    <br>

    <section class="classtime-section class-time-table spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Schedule </h2>
                        <h3 style="color: aliceblue;">Coming Up!!!</h3>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <br>

    <section class="price-section spad set-bg" data-setbg="image/music/hero-slider/eve.jpg" style="background-attachment: fixed;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Events</h2>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4" style="margin: 0 auto;">
                    <div class="single-price-plan" style="background: #8e9eab;  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    ">

                        <div class="price-plan">
                            <h2>Battle of Bands</h2>
                            <!-- <p>Monthly</p> -->
                        </div>

                        <div class="container"><b>Highly prominant and acclaimed bands
                                from all over the country, collide head-on for the grand prize.</b><br><br><br><br>
                            <h4>Date: 15th Feb 2020</h4><br></div>

                        <a href="/thundermarch/battleofthebands" class="primary-btn price-btn">View More</a>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <hr style="border-top:3px solid rgba(8, 2, 0, 0.5);margin-top: 0;">
    <section class="video-section set-bg" data-setbg="image/music/hero-slider/pol4.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video-text">
                        <h2>Feel the last year vibes</h2>
                        <a href="https://www.youtube.com/watch?v=91HSr-XCp6E" class="play-btn video-popup">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-section " style="background: black; ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-3 ">
                    <div class="footer-logo-item ">
                        <div class="f-logo ">
                            <a href="# "><img src="../image/music/logo.jpg " alt=" "></a>
                        </div>
                        <p>Thundermarch is the heaviest module under Incandescence, NIT Silchar</p>
                        <div class="social-links ">
                            <h6>Follow us</h6>
                            <a href="https://www.facebook.com/thundermarch.nitsilchar/ "><i class="fa fa-facebook "></i></a>
                            <a href="https://www.instagram.com/thundermarch.nits/ "><i class="fa fa-instagram "></i></a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 ">
                    <div class="footer-widget ">
                        <h5>Incand 2020</h5>
                        <div class="footer-blog ">
                            <a href="# " class="fb-item ">
                                <h6>Battle of Bands begins</h6>
                                <span class="blog-time "><i class="fa fa-clock-o "></i> Feb 15, 2020</span>
                            </a>
                            <a href="# " class="fb-item ">
                                <h6>Battle of Band finals</h6>
                                <span class="blog-time "><i class="fa fa-clock-o "></i> Feb 15, 2020</span>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-2 ">
                    <div class="footer-widget ">
                        <h5>Program</h5>
                        <ul class="workout-program ">
                            <li><a href="/ ">Incandescence</a></li>
                            <li><a href="/indieunplugged ">Indie</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="footer-widget ">
                        <h5>Get Info</h5>
                        <ul class="footer-info ">
                            <li>
                                <i class="fa fa-phone "></i>
                                <span>Phone:</span> 9706029301
                            </li>
                            <li>
                                <i class="fa fa-envelope-o "></i>
                                <span>Email:</span> nits.thundermarch@gmail.com
                            </li>
                            <li>
                                <i class="fa fa-map-marker "></i>
                                <span>Address</span> NIT Silchar , NIT Road, Fakiratilla, Silchar, Assam 788010
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script src="/js/thundermarch/jquery-3.3.1.min.js"></script>
    <script src="/js/thundermarch/bootstrap.min.js"></script>
    <script src="/js/thundermarch/jquery.magnific-popup.min.js"></script>
    <script src="/js/thundermarch/mixitup.min.js"></script>
    <script src="/js/thundermarch/jquery.nice-select.min.js"></script>
    <script src="/js/thundermarch/jquery.slicknav.js"></script>
    <script src="/js/thundermarch/owl.carousel.min.js"></script>
    <script src="/js/thundermarch/masonry.pkgd.min.js"></script>
    <script src="/js/thundermarch/main.js"></script>
</body>

</html>