<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description">
    <meta name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Battle of Bands | 2020</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../stylesheet/thundermarch/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../stylesheet/thundermarch/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../stylesheet/thundermarch/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../stylesheet/thundermarch/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../stylesheet/thundermarch/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../stylesheet/thundermarch/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../stylesheet/thundermarch/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../stylesheet/thundermarch/style.css" type="text/css">
    <link rel="stylesheet" href="../stylesheet/thundermarch/index.css" type="text/css">
</head>

<body style="background-color: #030303;">

    <div class="logoincand">
        <a href="/">
            <img src="../image/music/wlg.png" alt="" style="width: 15%;top: 0%;
    left: 80%;
    position:fixed;
    margin: 10px;
    z-index: 999;">
        </a>
    </div>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">

            <div class="logo">
                <a href="/thundermarch">
                    <img src="../image/music/logo.jpg" alt="" style="width: 15%;">
                </a>
            </div>


        </div>
        <div class="container">
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <li><a href="/thundermarch">Home</a></li>

                        <li class="active"><a href="/thundermarch/battleofthebands">Battle of the Bands</a></li>

                        <li><a href="/thundermarch/aboutus">About Us</a></li>


                    </ul>
                </nav>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
        </div>
    </header>

    <section class="breadcrumb-section set-bg spad" data-setbg="../image/music/hero-slider/s111.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <br>
                        <br><br>
                        <br><br>
                        <br>
                        <h1 style="color: white;font-size: 10rem;">Battle of Bands</h1>


                        <br><br><br><br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb End -->
    <section class="hero-section">
        <hr style="border-top:3px solid rgba(15,15,15);margin-top: 0;">

        <div class="hero-items owl-carousel">
            <div class="single-hero-item set-bg" data-setbg="../image/music/hero-slider/bob-1.jpg">

            </div>
            <div class="single-hero-item set-bg" data-setbg="../image/music/hero-slider/bob-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-text">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-item set-bg" data-setbg="../image/music/hero-slider/h3.jpg">

            </div>
        </div><br>

        <!-- ================================JUDGES Section Begin===================== -->
        <section class="gallery-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="gallery-controls">
                            <ul>
                                <li class="active" data-filter="*">
                                    <h2 style="color: white;text-decoration: none ;">Judges <br><br> To Be Updated Soon!!</h2>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!--
                <div class="row gallery-filter ">
                    <div class="col-lg-4 col-sm-6 mix crossfit workout ">

                        <div class="card-team ">
                            <img src="./../image/music/about-bread.jpg " alt="card background " class="card-img ">
                            <img src="./../image/music/home-about.jpg " alt="profile image " class="profile-img ">
                            <h1>Judge 1</h1>
                            <p class="job-title ">Judge</p>


                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mix crossfit workout ">

                        <div class="card-team ">
                            <img src="./../image/music/about-bread.jpg " alt="card background " class="card-img ">
                            <img src="./../image/music/home-about.jpg " alt="profile image " class="profile-img ">
                            <h1>Judge 1</h1>
                            <p class="job-title ">Judge</p>


                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mix workout gym ">
                        <div class="card-team ">
                            <img src="./../image/music/about-bread.jpg " alt="card background " class="card-img ">
                            <img src="./../image/music/home-about.jpg" alt="profile image " class="profile-img ">
                            <h1>Judge 2</h1>
                            <p class="job-title ">Judge</p>
                        </div>
                        <br>

                    </div>
                </div>
                -->

            </div>
        </section><br>


        <section class="price-section spad set-bg" style="background-color: #ebeef8;">
            <div class="container">

                <div class="row " style="margin-left: 03%; ">
                    <div class="single-price-plan " style="background-color: #ebeef8;">
                        <div class="container " style="border: 1px solid rgb(100,100,100); padding: 30px;">
                            <div class="price-plan ">
                                <h2>Battle of Bands</h2>
                                <p>Rules</p>
                            </div>

                            <ul class="bob ">
                                <li>1. Video/audio link of their live performance and audio/video link of their original composition is compulsory. One audio link and one video link is necessary.</li>
                                <li> 2. The selected bands are required to confirm their participation through email or phone call before "date tba ". Each member of the band is required to pay an amount of Rs 100 for their fooding and lodging.</li>
                                <li> 3. Bands are required to bring their own gear and instruments. Only a basic drum kit will be provided by the organizers. The drummers can bring their own pedals and cymbals if required. </li>
                                <li>4. There is no language/genre bar in 'Battle of Bands'. </li>
                                <li>5. Use of abusive language, signs, or gestures on stage is strictly prohibited.</li>
                                <li> 6. During both prelims and finals the bands are required to play at least one original composition. failing which shall lead to negative marking. </li>
                                <li>7. Pre-recorded sounds/samples may not be used during the performance. </li>
                                <li>8. During the prelims, the bands will be given a time period of fifteen minutes, inclusive of sound check. </li>
                                <li>9. The bands selected for the finals will be provided with a time period of twenty-five minutes, inclusive of sound check. The same original composition can be played in both the prelims and finals. </li>
                                <li>10. Drummers are requested to bring their own pedals, sticks, extra cymbals and stands if required.</li>
                                <li> 11. Use of alcohol or intoxicative substances is strictly prohibited inside the campus. Any member of a band found in possession with such substances will be immediately disqualified, along with the band.</li>
                                <li> 12. Decision of judges will be final and irrevocable.</li>
                            </ul>
                            <a target="_blank" href="https://songdew.com/opportunity/thundermarch-battle-of-bands-nit-silchar-600" class="primary-btn price-btn ">Register</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>

        <footer class="footer-section " style="background: black; ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-3 ">
                        <div class="footer-logo-item ">
                            <div class="f-logo ">
                                <a href="# "><img src="../image/music/logo.jpg " alt=" "></a>
                            </div>
                            <p>Thundermarch is the heaviest module under Incandescence, NIT Silchar</p>
                            <div class="social-links ">
                                <h6>Follow us</h6>
                                <a href="https://www.facebook.com/thundermarch.nitsilchar/ "><i class="fa fa-facebook "></i></a>
                                <a href="https://www.instagram.com/thundermarch.nits/ "><i class="fa fa-instagram "></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1 ">
                        <div class="footer-widget ">
                            <h5>Incand 2020</h5>
                            <div class="footer-blog ">
                                <a href="# " class="fb-item ">
                                    <h6>Battle of Bands begins</h6>
                                    <span class="blog-time "><i class="fa fa-clock-o "></i> Feb 15, 2020</span>
                                </a>
                                <a href="# " class="fb-item ">
                                    <h6>Battle of Band finals</h6>
                                    <span class="blog-time "><i class="fa fa-clock-o "></i> Feb 15, 2020</span>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 ">
                        <div class="footer-widget ">
                            <h5>Program</h5>
                            <ul class="workout-program ">
                                <li><a href="/ ">Incandescence</a></li>
                                <li><a href="/indieunplugged ">Indie</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 ">
                        <div class="footer-widget ">
                            <h5>Get Info</h5>
                            <ul class="footer-info ">
                                <li>
                                    <i class="fa fa-phone "></i>
                                    <span>Phone:</span> 9706029301
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o "></i>
                                    <span>Email:</span> nits.thundermarch@gmail.com
                                </li>
                                <li>
                                    <i class="fa fa-map-marker "></i>
                                    <span>Address</span> NIT Silchar , NIT Road, Fakiratilla, Silchar, Assam 788010
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="/js/thundermarch/jquery-3.3.1.min.js "></script>
        <script src="/js/thundermarch/bootstrap.min.js "></script>
        <script src="/js/thundermarch/jquery.magnific-popup.min.js "></script>
        <script src="/js/thundermarch/mixitup.min.js "></script>
        <script src="/js/thundermarch/jquery.nice-select.min.js "></script>
        <script src="/js/thundermarch/jquery.slicknav.js "></script>
        <script src="/js/thundermarch/owl.carousel.min.js "></script>
        <script src="/js/thundermarch/masonry.pkgd.min.js "></script>
        <script src="/js/thundermarch/main.js "></script>
</body>

</html>