
h1 {
    font-family: "Ananda Neptouch 2";
    padding: .5rem 1.25rem;
    border-radius: 10rem;
    background-color: #0cf;
    color: #fff;
    justify-content: center;
    text-align: center;
}

.back {
    display: none;
}


.container h1 {

}

div #navbar a {
    letter-spacing: 0px;
}

p {
    font-family: "Century Gothic";

}

.button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #000;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}

.button:hover {
    color: #fff;
    text-decoration: none;
}

.button:hover:before {
    width: 100%;
}

#Responsibilities h1 span {
    color: black;
    font-family: "Ananda Neptouch 2";
    border-radius: 10rem;
    font-size: 50px;
    background-color: #0cf;
    justify-content: center;
    text-align: center;

}

/* optional reset for presentation */

* {
    text-decoration: none;
    font-size: 20px;
}

.container {
    padding-top: 50px;
    margin: auto auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    line-height: 35px;
    letter-spacing: 0px;
    font-size: 18px;
}

#about {
    padding-left: 50px;
}

#apply {
    text-align: center;
}

.container a button {
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}

hr {
    background-color: red;
    width: 55px;
    height: 2px;
    margin-top: 0rem;
}


#middle-button {
    margin-left: 0px;
}

.home {
    height: 800px;
    width: 100%;
    background-image: url("../../image/campus/campus.jpg");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.anchor{

  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  }

#wings {
    padding-top: 6px;
    margin-left: 55px;
    position: absolute;
    animation: rotation .2s linear infinite;
}

#body {
    padding-top: 50px;
}

#navbar {
    font-family: "Papyrus";
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px auto;
    overflow: hidden;
    background-color: #fff;
    z-index: 9999;
    width: 100%;
}

#navbar1 {
    font-family: "Papyrus";
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px auto;
    overflow: hidden;
    background-color: #fff;
    z-index: 9999;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #about {
    padding-top: 200px;
}


image {
    display: inline;
    flex-wrap: row wrap;
}

#helicopter {
    padding-top: 45px;
    padding-left: 90%;
    position: absolute;
    animation: linear infinite;
    animation-name: run;
    animation-duration: 5s;
    transform: translate(340, 0);
    -webkit-transform: translate(-340, 0);
    /** Chrome & Safari **/
    -o-transform: translate(-340px, 0);
    /** Opera **/
    -moz-transform: translate(-340px, 0);
    /** Firefox **/
}

#about {
    background-color: #e4f9ff;
    padding-bottom: 30px;

}

#Representative {
    background-color: #e4f9ff;
    padding-bottom: 30px;

}

#Responsibilities {
    background-color: #e4f9ff;
    padding-bottom: 30px;

}

#apply {
    background-color: #e4f9ff;
    padding-bottom: 30px;


}

#contact {
    background-color: #e4f9ff;

}

@keyframes run {
    0% {
        right: 0;
    }
    50% {
        right: 100%;
    }
}

@keyframes rotation {
    100% {
        transform: rotateY(360deg);
    }
}


/***************************
 card
 *************************/

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 340px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
    margin: 30px auto;
    border-radius: 10px;
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10px;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 6px;
}


/* Style the front side (fallback if image is missing) */

.flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 10px;
}

.flip-card-front img {
    width: 300px;
    height: 340px;
    border-radius: 10px;
    object-fit: cover;
}


/* Style the back side */

.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
}

.flip-card-back h3 {
    font-family: "Papyrus";
    margin-top: 20px;
}

.flip-card-back p {
    font-size: 22px;
    font-family: "Ananda Neptouch 2";
}

.fa {
    margin: 10px 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    background-color: #000;
}

.fa:hover {
    color: dodgerblue;
    background-color: beige;
}


ul li {

    list-style: none;

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="container"] h1 {
    font-size: 30px;
  }


 #navbar {
    display: none;
 }

.back {
    display: block;
}

}