
/*BASIC INFORMATION */
/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */
/* =================================== */
/*  Basic Style 
/* =================================== */
svg{
  height: 2100px;
  width: 500%;
}

body {
 
 background-repeat:repeat-x;
 background-size: contain;
  height: 750px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
  z-index: -2; }



h1,
h4{
  font-family: "Playfair Display", serif;
  color: #222222;
  line-height: 1.2em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 900; }

h2{
   font-family: "Playfair Display", serif;
  color: solid black;
  line-height: 1.2em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 900;
}

.h1,
.h4
{
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  color: #222222; }

h1,
.h1 {
  font-size: 36px; }


h4,
.h4 {
  font-size: 18px; }



/****************************************HEADER************************************************/

.default-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9; }

.navbar {
  padding: 25px 15px; }
  @media (max-width: 992px) {
    .navbar .navbar-collapse {
      background: #222222;
      margin-top: 20px; } }
  .navbar .dropdown .dropdown-menu {
    display: none;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-left: 20px; }
    @media (max-width: 991px) {
      .navbar .dropdown .dropdown-menu .dropdown-menu {
        display: block;
        opacity: 1;
        visibility: visible; } }
    .navbar .dropdown .dropdown-menu.show {
      display: block;
      opacity: 1;
      visibility: visible; }
      @media (max-width: 991px) {
        .navbar .dropdown .dropdown-menu.show {
          background: transparent;
          box-shadow: none;
          border: 0px;
          padding: 0; } }
  @media (min-width: 992px) {
    .navbar .dropdown:hover .dropdown-menu {
      display: block;
      opacity: 1;
      visibility: visible; } }

@media (max-width: 992px) {
  .navbar-nav {
    margin-top: 10px;
    height: auto;
    max-height: 400px;
    overflow-x: hidden; }
    .navbar-nav a {
      padding: 0; }
    .navbar-nav li {
      padding: 10px 0; } }
.navbar-nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  padding: 20px; }
.navbar-nav .dropdown .dropdown-item {
  color: #222222;
  padding: 10px 20px;
  font-size: 11px; }
  @media (max-width: 991px) {
    .navbar-nav .dropdown .dropdown-item {
      color: #fff; } }

.header-scrolled {
  position: fixed;
  left: 0;
  width: 100%;
  background: #222222; }


//**************************************BANNER******************************//
.home-banner-area {
  background: url(../img/home-banner-bg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  max-height: 1200px; }
  @media (min-width: 1921px) {
    .home-banner-area .fullscreen {
      align-items: start !important;
      padding-top: 250px;
      max-height: 1200px !important; } }
  @media (max-width: 768px) {
    .home-banner-area .fullscreen {
      height: 700px !important; } }

@media (max-width: 768px) {
  .home-banner-left {
    text-align: center; } }
.home-banner-left h1 {
  color: #222;
  font-size: 48px;
  line-height: 1em;
  margin-bottom: 20px; }
  .home-banner-left h1 span {
    font-weight: 900; }
  @media (max-width: 768px) {
    .home-banner-left h1 {
      font-size: 36px; } }
  @media (max-width: 767px) {
    .home-banner-left h1 br {
      display: none; } }
  @media (max-width: 991px) {
    .home-banner-left h1 {
      font-size: 45px; } }
  @media (max-width: 414px) {
    .home-banner-left h1 {
      font-size: 40px; } }
@media (max-width: 800px) {
  .home-banner-left {
    margin-top: 30px; } }

.home-banner-right img {
  margin-right: auto !important;
  margin-left: auto !important;
  display: block; }
  @media (max-width: 991px) {
    .home-banner-right img {
      display: none; } }

.banner-area {
  background: url(../img/head.png) no-repeat center;
  background-position: right;
  min-height: 700px;
  min-width: 1530px; }

.banner-right {
  margin-top: 200px;
  text-align: right; }
  @media (max-width: 1199px) {
    .banner-right {
      text-align: center; } }
  @media (max-width: 767px) {
    .banner-right h1 {
      font-size: 30px; } }
  @media (max-width: 767px) {
    .banner-right p {
      display: none; } }
  .banner-right .box {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 10px 18px;
    display: inline-block; }
    @media (max-width: 767px) {
      .banner-right .box {
        padding: 7px 15px;
        margin-top: 30px; } }
    .banner-right .box i {
      color: #fff;
      font-size: 14px;
      margin: 5px;
      font-weight: 600; }
    .banner-right .box a {
      color: #fff;
      font-size: 14px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      @media (max-width: 380px) {
        .banner-right .box a {
          font-size: 13px; } }
      .banner-right .box a:hover {
        color: #222222; }

@media (max-width: 991px) 
{
  .about-area .about-left 
  {
    margin-bottom: 50px; 
  } 
}

.about-right h1 {
  margin-bottom: 30px;
  color: #222; }
  @media (max-width: 991px) {
    .about-right h1 {
      font-size: 35px;
      margin-bottom: 25px; } }
  @media (max-width: 576px) {
    .about-right h1 {
      font-size: 30px; } }
  @media (max-width: 991px) {
    .about-right h1 br {
      display: none; } }
.about-right p:last-of-type {
  margin-bottom: 0; }




/*********************************FOOTER***************************************/

.footer-area {
  padding: 339px 0px 120px;
  background: url(../img/footer-b.png) no-repeat center; }
  @media (max-width: 991px) {
    .footer-area {
      background: #222222;
      padding: 60px 0px; } }
  @media (max-width: 991px) {
    .footer-area .single-footer-widget {
      margin-bottom: 30px; } }
  .footer-area .single-footer-widget h4 {
    color: #fff;
    margin-bottom: 35px; }
    @media (max-width: 1024px) {
      .footer-area .single-footer-widget h4 {
        font-size: 18px; } }
    @media (max-width: 991px) {
      .footer-area .single-footer-widget h4 {
        margin-bottom: 15px; } }
  .footer-area .single-footer-widget ul li {
    margin-bottom: 15px; }
    .footer-area .single-footer-widget ul li a {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      color: #828bb2; }
      .footer-area .single-footer-widget ul li a:hover {
        color: #fff; }
  .footer-area .single-footer-widget .form-wrap {
    margin-top: 25px; }
  .footer-area .single-footer-widget input {
    height: 40px;
    border: none;
    width: 70% !important;
    font-weight: 400;
    background: #363a4b;
    color: #fff;
    padding-left: 20px;
    border-radius: 0;
    font-size: 14px;
    padding: 10px; }
    .footer-area .single-footer-widget input:focus {
      outline: none;
      box-shadow: none; }
    .footer-area .single-footer-widget input.placeholder {
      padding-left: 10px;
      color: #828bb2; }
    .footer-area .single-footer-widget input:-moz-placeholder {
      padding-left: 10px;
      color: #828bb2; }
    .footer-area .single-footer-widget input::-moz-placeholder {
      padding-left: 10px;
      color: #828bb2; }
    .footer-area .single-footer-widget input::-webkit-input-placeholder {
      padding-left: 10px;
      color: #828bb2; }
  .footer-area .single-footer-widget .click-btn {
    color: #fff;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 8px 12px;
    border: 0;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    left: -50px; }
    .footer-area .single-footer-widget .click-btn:focus {
      outline: none;
      box-shadow: none; }
  .footer-area .footer-bottom {
    margin-top: 90px; }
    @media (max-width: 991px) {
      .footer-area .footer-bottom {
        margin-top: 20px; } }
    .footer-area .footer-bottom p {
      color: #fff; }
    .footer-area .footer-bottom a,
    .footer-area .footer-bottom span {
      color: #c738d8; }
    .footer-area .footer-bottom span {
      font-weight: 700; }
    .footer-area .footer-bottom .footer-social {
      text-align: center; }
      @media (max-width: 991px) {
        .footer-area .footer-bottom .footer-social {
          text-align: left;
          margin-top: 30px; } }
      .footer-area .footer-bottom .footer-social a {
        background: #363a4b;
        margin-left: 5px;
        width: 40px;
        color: #fff;
        display: inline-grid;
        text-align: center;
        height: 40px;
        align-content: center;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }


