html,
body {
    min-height: 100%;
}

@font-face {
    font-family: 'starella';
    src: url('/font/starella.ttf');
    src: url('/font/starella.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blackch';
    src: url('/font/blackch.ttf');
    src: url('/font/blackch.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aurella';
    src: url('/font/Aurella.ttf');
    src: url('/font/Aurella.ttf') format('truetype');
    font-weight: 70px;
    font-style: normal;
}

body {
    background: url("/image/gallery/back2.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10%;
    overflow-x: hidden;
}

.logo {
    position: relative;
    margin-top: 2%;
    margin-left: 2%;
    width: 15%;
    height: 15%;
}

.upperpart {
    position: relative;
    width: 84.50rem;
    height: 84.50rem;
    margin: auto;
    margin-top: -13%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.frame {
    position: absolute;
    width: 100%;
    height: 100%;
}

#carousel-example-generic {
    position: absolute;
    margin: auto;
    margin-top: -1%;
    width: 48%;
    height: 40%;
}

.carousel-inner {
    position: absolute;
    background-color: black;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel-inner>.carousel-item>img {
    margin: auto;
    opacity: 1;
    width: 100%;
    height: 78%;
}

.carousel-inner>h1 {
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    font-size: 1.4vw;
    opacity: 1;
    text-align: center;
    color: white;
    -webkit-animation-name: blurFadeIn;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;
    /* Safari 4.0 - 8.0 */
    animation-name: blurFadeIn;
    animation-duration: 3s;
}

.cover {
    position: relative;
    margin: auto;
    height: 18rem;
    width: 65rem;
    margin-top: -2%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.example {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.opa {
    opacity: 0;
}

.exitright {
    -webkit-animation-name: exright;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: ease-in-out;
    animation-name: exright;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

.enterright {
    -webkit-animation-name: entright;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: ease-in-out;
    animation-name: entright;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

.exitleft {
    -webkit-animation-name: exleft;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: ease-in-out;
    animation-name: exleft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

.enterleft {
    -webkit-animation-name: entleft;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: ease-in-out;
    animation-name: entleft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

.fadein {
    -webkit-animation-name: fadein;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: ease-in-out;
    animation-name: fadein;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@-webkit-keyframes colorchange {
    0% {
        background: #FFB6C1;
    }
    25% {
        background: #F5DEB3;
    }
    75% {
        background: LightBlue;
    }
    100% {
        background: #FFB6C1;
    }
}

@-webkit-keyframes colorchang {
    0% {
        background: LightBlue;
    }
    25% {
        background: #F5DEB3;
    }
    75% {
        background: #FFB6C1;
    }
    100% {
        background: LightBlue;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes entleft {
    0% {
        -webkit-transform: translateX(140%);
        transform: translateX(140%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes exleft {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-140%);
        transform: translateX(-140%);
    }
}

@-webkit-keyframes entright {
    0% {
        -webkit-transform: translateX(-140%);
        transform: translateX(-140%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes exright {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(140%);
        transform: translateX(140%);
    }
}

@-webkit-keyframes blurFadeIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.8);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes clownanimate {
    0% {
        opacity: 0;
        -webkit-transform: translateX(140%);
        transform: translateX(140%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.heading {
    position: relative;
    margin: auto;
    margin-top: 20vh;
    justify-content: center;
    text-align: center;
    font-family: 'Papyrus', "aurella";
    z-index: 1;
    width: 50%;
}

h1 span span {
    position: relative;
    font-size: 8vw;
    opacity: 0;
    animation: move-text 0.75s forwards;
    text-shadow: 3px 3px 9px #FFDAB9;
    color: #cc3300;
}

h1 span span:nth-child(1) {
    animation-delay: 0.5s
}

h1 span span:nth-child(2) {
    animation-delay: 0.6s
}

h1 span span:nth-child(3) {
    animation-delay: 0.7s
}

h1 span span:nth-child(4) {
    animation-delay: 0.8s
}

h1 span span:nth-child(5) {
    animation-delay: 0.9s
}

h1 span span:nth-child(6) {
    animation-delay: 1s
}

h1 span span:nth-child(7) {
    animation-delay: 1.1s
}

@keyframes move-text {
    0% {
        bottom: -0.2em;
        opacity: 1;
    }
    50% {
        bottom: 0.2em;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}

.clip {
    display: inline;
    float: left;
    width: 31%;
    margin: 0 1%;
    padding-top: 23%;
    position: relative;
    display: inline;
    background-color: #000;
    background-image: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff), linear-gradient(to right, #fff, #fff);
    background-repeat: no-repeat;
    background-position: 5% 5%, 15% 5%, 25% 5%, 35% 5%, 45% 5%, 55% 5%, 65% 5%, 75% 5%, 85% 5%, 95% 5%, 5% 95%, 15% 95%, 25% 95%, 35% 95%, 45% 95%, 55% 95%, 65% 95%, 75% 95%, 85% 95%, 95% 95%;
    background-size: 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%, 5% 8%;
}

.clip .film {
    margin: 12% 5%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: -webkit-grid;
    display: -ms-grid;
    -webkit-grid-columns: 1fr;
    -webkit-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
}

.clip img {
    max-width: 100%;
    -webkit-grid-row-align: center;
    -ms-grid-row-align: center;
}

.popuptext {
    position: absolute;
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 6px;
    z-index: 1;
    margin-top: 40%;
    font-size: 1.4vw;
    left: -2%;
    margin-left: ;
}

.popuptext1 {
    position: absolute;
    visibility: visible;
    width: 108px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1px 1px;
    z-index: 1;
    margin-top: 40%;
    font-size: 2vw;
    left: -3%;
    margin-left: ;
}


/* Popup arrow */


/* Toggle this class - hide and show the popup */

.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s, fadeOut 1s 1s forwards;
    animation: fadeIn 1s;
}


/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#left {
    position: absolute;
    left: 4%;
    margin-top: 6%;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#right {
    position: absolute;
    right: 4%;
    margin-top: 6%;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

i {
    position: absolute;
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline;
    padding: 17%;
}

#right>i:first-of-type {
    margin-left: -20%;
}

#right>i:second-of-type {
    margin-left: -8%;
}

#right:hover {
    -webkit-transform: scale(1.1);
}

#left>i:first-of-type {
    margin-left: 20%;
}

#left>i:second-of-type {}

#left:hover {
    -webkit-transform: scale(1.1);
}

.rightarr {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.leftarr {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.dot {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 4px solid grey;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
}

@media only screen and (max-width: 1024px) {
    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }
    .upperpart {
        width: 60rem;
        height: 50rem;
        margin-left: -83%;
        margin-top: -62%;
    }
    .frame {
        width: 42%;
        height: ;
        display: block;
        margin: auto;
    }
    .heading {
        -webkit-transform: scale(1.5);
        margin-top: 20vh;
    }
    .carousel-inner>h1 {
        font-size: 2vw;
    }
    #carousel-example-generic {
        margin-top: -1%;
        width: 20%;
        height: 22%
    }
    .cover {
        top: -18rem;
        width: 80%;
        margin-bottom: -14rem;
        z-index: 1;
    }
    .example {
        width: 100%;
    }
    #left {
        margin-top: -10.5rem;
        left: 1%;
        height: 2.2rem;
        width: 2.2rem;
    }
    #right {
        margin-top: -10.5rem;
        right: 1%;
        height: 2.2rem;
        width: 2.2rem;
    }
    .show {
        visibility: hidden;
    }
}

@media only screen and (max-width: 415px) and (min-width: 400px) {
    .carousel-inner>h1 {
        font-size: 2vw;
    }
    .upperpart {
        width: 65rem;
        height: 50rem;
        margin-left: -75%;
        margin-top: -47%;
    }
    .frame {
        width: 42%;
        height: ;
        display: block;
        margin: auto;
    }
    #carousel-example-generic {
        margin-top: -1%;
        width: 20%;
        height: 22%
    }
    .cover {
        top: -18rem;
        width: 80%;
        margin-bottom: -14rem;
        z-index: 1;
    }
}

@media only screen and (max-width: 350px) {
    .carousel-inner>h1 {
        font-size: 2vw;
    }
    .heading {
        -webkit-transform: scale(1.3);
    }
    .cover {
        top: -20rem;
    }
    .upperpart {
        width: 56rem;
        margin-left: -90%;
        margin-top: -76%;
    }
    .frame {
        width: 42%;
        height: ;
        display: block;
        margin: auto;
    }
    .example {
        width: 100%;
        margin-top: 2%;
    }
    #carousel-example-generic {
        margin-top: 0.5%;
        width: 20%;
        height: 22%
    }
    #left {
        margin-top: -12.2rem;
        height: 2rem;
        width: 2rem;
    }
    #right {
        margin-top: -12.2rem;
        height: 2rem;
        width: 2rem;
    }
    .popuptext1 {
        width: 85px;
    }
}

@media only screen and (max-width: 375px) and (min-width: 365px) {
    .carousel-inner>h1 {
        font-size: 2vw;
    }
    .heading {
        -webkit-transform: scale(1.3);
    }
    .cover {
        top: -17.5rem;
    }
    .upperpart {
        width: 65rem;
        height: 50rem;
        margin-left: -88%;
        margin-top: -56%;
    }
    .frame {
        width: 42%;
        height: ;
        display: block;
        margin: auto;
    }
    .example {
        width: 100%;
        margin-top: 2%;
    }
    #left {
        margin-top: -9.5rem;
    }
    #right {
        margin-top: -9.5rem;
    }
    .popuptext1 {
        width: 90px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .carousel-inner>h1 {
        font-size: 2vw;
    }
    .upperpart {
        width: 150rem;
        height: 56rem;
        margin-left: -106%;
        margin-top: -7%;
    }
    .frame {
        width: 60%;
        display: block;
        margin: auto;
    }
    #carousel-example-generic {
        margin-top: 0.2%;
        width: 16%;
        height: 43%
    }
    .heading {
        margin-top: 20vh;
    }
    .cover {
        top: -4rem;
        width: 70%;
        margin-bottom: 5%;
    }
    .example {
        width: 100%;
        margin-top: 2%;
    }
    #left {
        margin-top: 3rem;
        left: 3%;
        height: 4rem;
        width: 4rem;
    }
    #right {
        margin-top: 3rem;
        right: 3%;
        height: 4rem;
        width: 4rem;
    }
    .popuptext1 {
        width: 174px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1026px) {
    .popuptext1 {
        width: 174px;
    }
    .upperpart {
        width: 150rem;
        height: 65rem;
        margin-left: -68%;
        margin-top: -5%;
    }
    #carousel-example-generic {
        margin-top: -1%;
        width: 21%;
        height: 45%
    }
}


/*menu*/