/* @font-face kit by Fonts2u (https://fonts2u.com) */

@font-face {
    font-family: "Ananda Neptouch 2";
    src: url("../../font/Ananda_Neptouch_2.eot") format("eot"), url("../../font/Ananda_Neptouch_2.woff") format("font/woff"), url("../../font/Ananda_Neptouch_2.ttf") format("truetype"), url("../../font/Ananda_Neptouch_2.svg#AnandaNeptouch2") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Papyrus";
    src: url("../../font/Papyrus.ttf") format("ttf"), url("../../font/Papyrus.eot") format("eot"), url("../../font/Papyrus.woff") format("font/woff"), url("../../font/Papyrus.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Century Gothic";
    src: url("../../font/CenturyGothic.ttf") format("ttf"), url("../../font/CenturyGothic.eot") format("eot"), url("../../font/CenturyGothic.woff") format("font/woff"), url("../../font/CenturyGothic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

#logo {
    background: url(../../image/menu/logo.png) no-repeat;
    width: 20vw;
    height: 8.5vh !important;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 4vh;
    left: 5vw;
}

#menu {
    z-index: 3;
    position: absolute;
    top: 3vh;
    left: 0vw;
}

#cld1c {
    -webkit-animation: both infinite 4s 1s;
    animation: bounce both infinite 4s 1s;
}

#cld4c {
    -webkit-animation: bounce both infinite 4s 0s;
    animation: bounce both infinite 4s 0s;
}

#cld5c {
    -webkit-animation: both infinite 4s 0.2s;
    animation: bounce both infinite 4s 0.2s;
}

#cld6c {
    -webkit-animation: both infinite 4s 0.4s;
    animation: bounce both infinite 4s 0.4s;
}

#cld7c {
    -webkit-animation: both infinite 4s 0.6s;
    animation: bounce both infinite 4s 0.6s;
}

#cld8c {
    -webkit-animation: both infinite 4s 0.8s;
    animation: bounce both infinite 4s 0.8s;
}

#cld9c {
    -webkit-animation: both infinite 4s 1s;
    animation: bounce both infinite 4s 1s;
}

#cld10c {
    -webkit-animation: both infinite 4s 1.2s;
    animation: bounce both infinite 4s 1.2s;
}

#cld11c {
    -webkit-animation: both infinite 4s 1.4s;
    animation: bounce both infinite 4s 1.4s;
}

#cld1 {
    background-image: url(../../image/menu/cloud.png);
    z-index: 5;
    background-size: 100% 100%;
    visibility: hidden;
    position: absolute;
    height: 10vh;
    width: 20vw;
    left: 40vw;
    top: 14vh;
}

#cld2 {
    background-image: url(../../image/menu/cloud.png);
    z-index: 5;
    background-size: 100% 100%;
    visibility: visible;
    position: absolute;
    height: 5vh;
    width: 10vw;
    left: 5vw;
    top: 14vh;
}

#cld3 {
    z-index: 5;
    background-image: url(../../image/menu/cloud.png);
    background-size: 100% 100%;
    visibility: visible;
    position: absolute;
    height: 5vh;
    width: 10vw;
    left: 85vw;
    top: 14vh;
}

#cld4 {
    background-image: url(../../image/menu/cloud.png);
    background-size: 100% 100%;
    z-index: 5;
    position: absolute;
    height: 9vh;
    width: 11vw;
    left: 85vw;
    top: 3vh;
    visibility: hidden;
    display: flex;
    justify-content: center;
}

@keyframes cld4m {
    from {
        height: 9vh;
        width: 11vw;
        left: 85vw;
        top: 3vh;
        visibility: hidden;
    }
    to {
        top: 10vh;
        left: 10vw;
        height: 15vh;
        width: 23vw;
        visibility: visible;
    }
}

@keyframes cld4i {
    from {
        top: 10vh;
        left: 10vw;
        height: 15vh;
        width: 23vw;
        visibility: visible;
    }
    to {
        height: 9vh;
        width: 11vw;
        left: 85vw;
        top: 3vh;
        visibility: hidden;
    }
}

#cld5 {
    background-image: url(../../image/menu/cloud.png);
    background-size: 100% 100%;
    z-index: 5;
    position: absolute;
    height: 10vh;
    width: 10vw;
    left: 78vw;
    top: 6vh;
    visibility: hidden;
    display: flex;
    justify-content: center;
}

@keyframes cld5m {
    from {
        height: 10vh;
        width: 10vw;
        left: 78vw;
        top: 6vh;
        visibility: hidden;
    }
    to {
        top: 35vh;
        left: 10vw;
        height: 15vh;
        width: 23vw;
        visibility: visible;
    }
}

@keyframes cld5i {
    from {
        top: 35vh;
        left: 10vw;
        height: 15vh;
        width: 23vw;
        visibility: visible;
    }
    to {
        height: 10vh;
        width: 10vw;
        left: 78vw;
        top: 6vh;
        visibility: hidden;
    }
}

#cld6 {
    background-image: url(../../image/menu/cloud.png);
    background-size: 100% 100%;
    z-index: 5;
    position: absolute;
    height: 10vh;
    width: 11vw;
    left: 69vw;
    top: 2vh;
    visibility: hidden;
    display: flex;
    justify-content: center;
}

@keyframes cld6m {
    from {
        height: 10vh;
        width: 11vw;
        left: 69vw;
        top: 2vh;
        visibility: hidden;
    }
    to {
        top: 55vh;
        left: 10vw;
        height: 15vh;
        width: 23vw;
        visibility: visible;
    }
}

@keyframes cld6i {
    from {
        top: 55vh;
        left: 10vw;
        height: 15vh;
        width: 23vw;
        visibility: visible;
    }
    to {
        height: 10vh;
        width: 11vw;
        left: 69vw;
        top: 2vh;
        visibility: hidden;
    }
}

#cld7 {
    background-image: url(../../image/menu/cloud.png);
    background-size: 100% 100%;
    z-index: 5;
    position: absolute;
    height: 10vh;
    width: 10vw;
    left: 61vw;
    top: 4vh;
    visibility: hidden;
    display: flex;
    justify-content: center;
}

@keyframes cld7m {
    from {
        height: 10vh;
        width: 10vw;
        left: 61vw;
        top: 4vh;
        visibility: hidden;
    }
    to {
        top: 80vh;
        left: 10vw;
        height: 15vh;
        width: 23vw;
        visibility: visible;
    }
}

@keyframes cld7i {
    from {
        top: 80vh;
        left: 10vw;
        height: 15vh;
        width: 23vw;
        visibility: visible;
    }
    to {
        height: 10vh;
        width: 10vw;
        left: 61vw;
        top: 4vh;
        visibility: hidden;
    }
}

#cld8 {
    background-image: url(../../image/menu/cloud.png);
    background-size: 100% 100%;
    z-index: 5;
    position: absolute;
    height: 9vh;
    width: 10vw;
    left: 54vw;
    top: 8vh;
    visibility: hidden;
    display: flex;
    justify-content: center;
}

@keyframes cld8m {
    from {
        height: 9vh;
        width: 10vw;
        left: 54vw;
        top: 8vh;
        visibility: hidden;
    }
    to {
        top: 10vh;
        left: 70vw;
        height: 15vh;
        width: 23vw;
        visibility: visible;
    }
}

@keyframes cld8i {
    from {
        top: 10vh;
        left: 70vw;
        height: 15vh;
        width: 23vw;
        visibility: visible;
    }
    to {
        height: 9vh;
        width: 10vw;
        left: 54vw;
        top: 8vh;
        visibility: hidden;
    }
}

#cld9 {
    background-image: url(../../image/menu/cloud.png);
    background-size: 100% 100%;
    z-index: 5;
    position: absolute;
    height: 10vh;
    width: 12vw;
    left: 46vw;
    top: 3vh;
    visibility: hidden;
    display: flex;
    justify-content: center;
}

@keyframes cld9m {
    from {
        height: 10vh;
        width: 12vw;
        left: 46vw;
        top: 3vh;
        visibility: hidden;
    }
    to {
        top: 35vh;
        left: 70vw;
        height: 15vh;
        width: 23vw;
        visibility: visible;
    }
}

@keyframes cld9i {
    from {
        top: 35vh;
        left: 70vw;
        height: 15vh;
        width: 23vw;
        visibility: visible;
    }
    to {
        height: 10vh;
        width: 12vw;
        left: 46vw;
        top: 3vh;
        visibility: hidden;
    }
}

#cld10 {
    background-image: url(../../image/menu/cloud.png);
    background-size: 100% 100%;
    z-index: 5;
    position: absolute;
    height: 10vh;
    width: 10vw;
    left: 38vw;
    top: 6vh;
    visibility: hidden;
    display: flex;
    justify-content: center;
}

@keyframes cld10m {
    from {
        height: 10vh;
        width: 10vw;
        left: 38vw;
        top: 6vh;
        visibility: hidden;
    }
    to {
        top: 55vh;
        left: 70vw;
        height: 15vh;
        width: 23vw;
        visibility: visible;
    }
}

@keyframes cld10i {
    from {
        top: 55vh;
        left: 70vw;
        height: 15vh;
        width: 23vw;
        visibility: visible;
    }
    to {
        height: 10vh;
        width: 10vw;
        left: 38vw;
        top: 6vh;
        visibility: hidden;
    }
}

#cld11 {
    background-image: url(../../image/menu/cloud.png);
    background-size: 100% 100%;
    z-index: 5;
    position: absolute;
    height: 10vh;
    width: 12vw;
    left: 30vw;
    top: 3vh;
    visibility: hidden;
    display: flex;
    justify-content: center;
}

@keyframes cld11m {
    from {
        height: 10vh;
        width: 12vw;
        left: 30vw;
        top: 3vh;
        visibility: hidden;
    }
    to {
        top: 80vh;
        left: 70vw;
        height: 15vh;
        width: 23vw;
        visibility: visible;
    }
}

@keyframes cld11i {
    from {
        top: 80vh;
        left: 70vw;
        height: 15vh;
        width: 23vw;
        visibility: visible;
    }
    to {
        height: 10vh;
        width: 12vw;
        left: 30vw;
        top: 3vh;
        visibility: hidden;
    }
}

@keyframes cld {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes cldf {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#menu a {
    position: relative;
    top: 40%;
    text-decoration: none;
    font-size: 1.1vw;
    color: black;
    font-family: 'Ananda Neptouch 2', 'Cursive';
    font-weight: bolder;
    color: #420921;
}

#menu a:hover {
    transform-origin: 50% 50%;
    transform: scale(1, 1.05);
}

#menu p {
    position: absolute;
    top: 30%;
    left: 50%;
    font-weight: 900;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.8vh;
    color: black;
    font-family: 'Ananda Neptouch 2', cursive;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(-5px)
    }
    50% {
        transform: translateY(10px)
    }
}